<template>
  <div>
    <DoctorProfile/>

    <WhiteInfoSection :title="infoListTitle" :infoListItems="infoListItems" />

    <Container class="container--lg pt-6">
      <Alert :text="$t('alertInfo')" />
    </Container>

    <QuestionForm />
  </div>
</template>

<script>
  import DoctorProfile from '~/components/Organisms/DoctorProfile.vue'
  import Alert from '~/components/Atoms/Alert.vue'
  import Container from '~/components/Atoms/Container.vue'
  import WhiteInfoSection from '~/components/Organisms/WhiteInfoSection.vue'
  import QuestionForm from '~/components/Organisms/QuestionForm.vue'

  export default {
    name: "DoctorPageId",
    nuxtI18n: {
      paths: {
        cs: '/cekarna/lekar/:id',
      }
    },
    components: {
      DoctorProfile,
      Alert,
      Container,
      QuestionForm,
      WhiteInfoSection,
    },
    async asyncData({ params, store, req, error }) {
      const doctorDetail = await store.dispatch('doctors/getDoctor', {
        id: params.id,
        req: req
      })

      if (!doctorDetail.doctorName){
        error({ statusCode: 404, message: 'Missing doctor' })
      }

      return {doctorDetail}
    },
    mounted () {
      this.$axios.get('/api/v2/doctors/' + this.$route.params.id)
        .then(res => {
          this.doctorDetail = res.data
        }).catch(err => {
        })
    },
    computed: {
      infoListTitle() {
        return !!this.doctorDetail && this.doctorDetail.isRegistered ? this.$t('benefits.benefitsConsultation.title') : this.$t('benefits.benefitsQuestion.title')
      },

      infoListItems() {
        return !!this.doctorDetail && this.doctorDetail.isRegistered ? this.$t('benefits.benefitsConsultation.infoList', { returnObjects: true }) : this.$t('benefits.benefitsQuestion.infoList', { returnObjects: true })
      }
    },
    head () {
      return {
        title: this.$t('meta.doctorDetail.title', {'doctorName': !!this.doctorDetail.doctorName?this.doctorDetail.doctorName:''}),
        meta: [
          { hid: 'description', name: 'description', content: this.$t('meta.doctorDetail.description') },
          { hid: 'og:title', name: 'og:title', content: this.$t('meta.doctorDetail.ogTitle') }
        ]
      }
    }
  }
</script>

<style lang="scss" scoped>

</style>
