<template>
  <div>
    <HelloRsAssistant />
    <Container class="container--md mb-6">
      <Alert
        :text="$t('rsAssistant.alertInfo')"
        fontIcon="question-circle"
        type="info-blue"
        class="offset-top" />
    </Container>
    <RegisterForm />
  </div>
</template>

<script>
  import HelloRsAssistant from '~/components/Organisms/HelloRsAssistant.vue'
  import RegisterForm from '~/components/Molecules/RegisterForm.vue'
  import Container from '~/components/Atoms/Container.vue'
  import Alert from '~/components/Atoms/Alert.vue'

  export default {
    name: "IndexPage",
    components: {
      HelloRsAssistant,
      Container,
      Alert,
      RegisterForm,
    },
    head () {
      return {
        title: this.$t('meta.rsasistant.title'),
        meta: [
          { hid: 'description', name: 'description', content: this.$t('meta.rsasistant.description') },
          { hid: 'og:title', name: 'og:title', content: this.$t('meta.rsasistant.ogTitle') },
          { hid: 'og:image', name: 'og:image', content: '/share-rs.jpg' }
        ],
	link: [
{ rel: 'apple-touch-icon',  href: '/apple-touch-icon.png' }
        ]
      }
    }
  }
</script>

<style lang="scss" scoped>
  .offset-top {
    margin-top: -30px;
    position: relative;
    z-index: 90;
  }
</style>
