<template>
  <div>
    <DoctorIsNotInList />
    <Container class="container--lg">
      <Alert :text="$t('alertInfo')" />
    </Container>
    <QuestionForm />
  </div>
</template>

<script>
  import Alert from '~/components/Atoms/Alert.vue'
  import Container from '~/components/Atoms/Container.vue'
  import DoctorIsNotInList from '~/components/Organisms/DoctorIsNotInList.vue'
  import QuestionForm from '~/components/Organisms/QuestionForm.vue'
  import { mapMutations } from 'vuex'

  export default {
    name: "IDontHaveDoctorPage",
    nuxtI18n: {
      paths: {
        cs: '/cekarna/prakticky-lekar-neni-v-seznamu',
      }
    },
    components: {
      Alert,
      Container,
      DoctorIsNotInList,
      QuestionForm,
    },
    methods: {
      ...mapMutations({
        setDoctorDetail: 'doctors/setDoctorDetail'
      })
    },
    mounted() {
      this.setDoctorDetail({})
    },
    head () {
      return {
        title: this.$t('meta.doctorNotInList.title'),
        meta: [
          { hid: 'description', name: 'description', content: this.$t('meta.doctorNotInList.description') },
          { hid: 'og:title', name: 'og:title', content: this.$t('meta.doctorNotInList.ogTitle') }
        ]
      }
    }
  }
</script>

<style lang="scss" scoped>

</style>
