<template>
  <div>
      <IDontHaveDoctor />
      <Container class="container--lg">
        <Alert :text="$t('alertInfo')" />
      </Container>
    <QuestionForm />
  </div>
</template>

<script>
  import Alert from '~/components/Atoms/Alert.vue'
  import Container from '~/components/Atoms/Container.vue'
  import IDontHaveDoctor from '~/components/Organisms/IDontHaveDoctor.vue'
  import QuestionForm from '~/components/Organisms/QuestionForm.vue'
  import { mapMutations } from 'vuex'

  export default {
    name: "IDontHaveDoctorPage",
    nuxtI18n: {
      paths: {
        cs: '/cekarna/nemam-praktickeho-lekare',
      }
    },
    components: {
      Alert,
      Container,
      IDontHaveDoctor,
      QuestionForm,
    },
    methods: {
      ...mapMutations({
        setDoctorDetail: 'doctors/setDoctorDetail'
      })
    },
    mounted() {
      this.setDoctorDetail({})
    },
    head () {
      return {
        title: this.$t('meta.dontHaveDoctor.title'),
        meta: [
          { hid: 'description', name: 'description', content: this.$t('meta.dontHaveDoctor.description') },
          { hid: 'og:title', name: 'og:title', content: this.$t('meta.dontHaveDoctor.ogTitle') }
        ]
      }
    }
  }
</script>

<style lang="scss" scoped>

</style>
