<template>
  <div>
    <Hello />
    <HowItWorks />
    <ContactDoctor />
    <ThankYouPartners />
  </div>
</template>

<script>
  import Hello from '~/components/Organisms/Hello.vue'
  import HowItWorks from '~/components/Organisms/HowItWorks.vue'
  import ContactDoctor from '~/components/Organisms/ContactDoctor.vue'
  import ThankYouPartners from '~/components/Organisms/ThankYouPartners.vue'

  export default {
    name: "IndexPage",
    components: {
      Hello,
      HowItWorks,
      ContactDoctor,
      ThankYouPartners
    },
    head () {
      return {
        title: this.$t('meta.hp.title'),
        meta: [
          { hid: 'description', name: 'description', content: this.$t('meta.hp.description') },
          { hid: 'og:title', name: 'og:title', content: this.$t('meta.hp.ogTitle') }
        ]
      }
    }
  }
</script>

<style lang="scss" scoped>
  // none
</style>
