<template>
  <div class="office">
    <div class="container row d-flex align-items-center">
      <div class="col-md-6 mb-5">
        <h1 class="office__title">{{ $t('virtualOffice.info') }}</h1>
      </div>
      <div class="col-md-6">
        <img src="~/assets/img/office.svg" alt="Office">
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "Office",
    nuxtI18n: {
      paths: {
        cs: '/cekarna/ordinace',
      }
    },
  }
</script>

<style lang="scss" scoped>
  @import "~assets/styles/common/variables";

  .office {
    margin: 4rem 2rem;
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;

    &__title {
      line-height: 115%;
      color: $primary;
      font-size: 24px;
      @include media-breakpoint-up(md) {
        font-size: 42px;
      }
    }
  }
</style>
