<template>
  <Results />
</template>

<script>
  import Results from '~/components/Organisms/Results.vue'

  export default {
    name: "SearchResultPage",
    nuxtI18n: {
      paths: {
        cs: '/cekarna/vysledky-hledani',
      }
    },
    components: {
      Results
    },
    head () {
      return {
        title: this.$t('meta.searchResults.title'),
        meta: [
          { hid: 'description', name: 'description', content: this.$t('meta.searchResults.description') },
          { hid: 'og:title', name: 'og:title', content: this.$t('meta.searchResults.ogTitle') }
        ]
      }
    }
  }
</script>

<style lang="scss" scoped>
  // none
</style>
