<template>
  <section class="contact-doctor" id="contact-doctor">
    <Container class="contact-doctor__container">
      <h2 class="contact-doctor__title">{{ $t('ContactDoctor.title') }}</h2>
      <FindDoctor />

      <div class="contact-doctor__perex">
        {{ $t('imNotDoctorPerex') }}
      </div>

      <div class="text-center">
        <nuxt-link :to="localePath('cekarna-i-dont-have-doctor')" class="btn btn-primary">{{ $t('imNotDoctor') }}</nuxt-link>
      </div>

      <Panel>
        <template v-slot:body>
          <div class="row text-center text-md-left align-items-center">
            <div class="col-md-12" :inner-html.prop="$t('infoForDoctor.text') | brLine"></div>
          </div>
        </template>
      </Panel>
    </Container>
  </section>
</template>

<script>
  import ExternalLink from '~/components/Atoms/ExternalLink.vue'
  import Container from '~/components/Atoms/Container.vue'
  import Panel from '~/components/Atoms/Panel.vue'
  import FindDoctor from '~/components/Organisms/FindDoctor.vue'

  export default {
    name: "ContactDoctor",
    components: {
      ExternalLink,
      Container,
      Panel,
      FindDoctor
    }
  }
</script>

<style lang="scss" scoped>
  @import "~assets/styles/common/variables";

  .contact-doctor {
    padding-top: 80px;
    padding-bottom: 80px;

    @include media-breakpoint-up(md) {
      padding-bottom: 140px;
      position: relative;
      overflow: hidden;
      min-height: 880px;

      &:after {
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        bottom: 60px;
        width: 580px;
        height: 353px;
        background: url('~assets/img/contact-doctor.svg') right bottom no-repeat;
        z-index: -1;
        pointer-events: none;
      }
    }

    .panel {
      margin-top: 4rem;

      @include media-breakpoint-up(md) {
        margin-top: 2rem;
        position: absolute;
        bottom: 2rem;
        left: 50%;
        transform: translateX(-50%);
        width: calc(100% - #{$grid-gutter-width});
        max-width: map-get($grid-breakpoints, "xl");
      }
    }

    &__title {
      font-size: 24px;
      line-height: 33px;
      color: $primary;
      text-align: center;
      margin-bottom: 49px;
    }

    &__perex {
      width: 100%;
      max-width: 530px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      margin-top: 45px;
      margin-bottom: 27px;
    }
  }
</style>
