<template>
  <main class="doctor-profile">
    <Container>
      <Panel class="mb-4 p-0" :class="hasOfficeHours? 'col-lg-12' : 'col-lg-8 mx-auto'">
        <template v-slot:body>
          <DoctorInfoBox :doctor-detail="doctorDetail"></DoctorInfoBox>
        </template>
        <template v-slot:footer>
          <template v-if="doctorDetail.isRegistered">
            <PanelBox>
              <strong class="text-primary d-block mb-2">{{ $t('doctorDetail.note') }}</strong>
              {{ doctorDetail.doctorInfoText }}
            </PanelBox>
            <PanelBox class="d-lg-flex align-items-lg-center justify-content-lg-between">
              <Button :className="`btn btn-primary mb-3 mb-lg-0`" :onClick="goToQuestionForm">{{ $t('doctorDetail.sendQuestionThisDoctor') }}</Button>
              <span class="d-block pl-lg-4" v-html="$t('doctorDetail.sendQuestionInfo')"></span>
            </PanelBox>
          </template>

          <PanelBox
            class="panel-box--danger"
            :class="hasOfficeHours? 'd-lg-flex align-items-lg-center justify-content-lg-between' : ''"
            v-else>
            <div class="pr-lg-4 text-md mb-lg-0">
              <strong class="text-danger text-md-plus d-block mb-1">
                <font-awesome-icon icon="exclamation-circle" /> {{ doctorDetail.isRegistered?$t('doctorDetail.dontHaveVirtualRoom.titleTmp'):$t('doctorDetail.dontHaveVirtualRoom.title') }}
              </strong>
              {{ $t('doctorDetail.dontHaveVirtualRoom.perex') }}
            </div>
            <Button :className="hasOfficeHours? 'btn btn-primary mt-3 mt-lg-0' : 'btn btn-primary mt-3'" :onClick="goToQuestionForm">{{ $t('doctorDetail.sendQuestionOurDoctor') }}</Button>
          </PanelBox>

        </template>
      </Panel>
    </Container>
  </main>
</template>

<script>
  import Button from '~/components/Atoms/Button.vue'
  import Container from '~/components/Atoms/Container.vue'
  import PanelBox from '~/components/Atoms/PanelBox.vue'
  import Partners from '~/components/Organisms/Partners.vue'
  import Panel from '~/components/Atoms/Panel.vue'
  import DoctorInfoBox from '~/components/Molecules/DoctorInfoBox.vue'

  export default {
    name: "DoctorProfile",
    components: {
      Button,
      Container,
      Partners,
      Panel,
      PanelBox,
      DoctorInfoBox
    },
    computed: {
      doctorDetail() {
        return this.$store.state.doctors.doctorDetail
      },
      hasOfficeHours () {
        let self = this
        let hasOfficeHours = false
        Object.keys(this.doctorDetail.branch).forEach(function(key) {
          if (self.doctorDetail.branch[key] !== null && !!self.doctorDetail.branch[key].officeHours && self.doctorDetail.branch[key].officeHours.length){
            hasOfficeHours = true
          }
        });
        return hasOfficeHours
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import "~assets/styles/common/variables";

  .doctor-profile {
    padding-top: 2rem;
    padding-bottom: 2rem;

    @include media-breakpoint-up(md) {
      padding-top: 96px;
      padding-bottom: 96px;
    }

    .btn{
      white-space: normal;
    }
  }
</style>
