<template>
  <div class="find-doctor">
    <BubbleSearch/>
  </div>
</template>

<script>
  import BubbleSearch from "~/components/Molecules/BubbleSearch";

  export default {
    name: "FindDoctor",
    components: {
      BubbleSearch
    }
  }
</script>

<style lang="scss" scoped>
  @import "~assets/styles/common/variables";

  .find-doctor {
    width: 100%;
    max-width: 754px;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    @include media-breakpoint-up(lg) {
      .hello & {
        max-width: 490px;
        margin-left: inherit;
      }
    }
  }
</style>
