<template>
  <footer class="footer">
    <Container>
      <div class="row">

        <div class="col-xs-12 col-sm-5 col-md-6">

          <Logo />

          <div class="footer__perex">
            <p v-if="$route.path.includes('/rs-asistent')" v-html="$t('rsAssistant.footer.perex')">
            </p>
            <p v-else>
              {{ $t('uLekare.perex') }}
            </p>
          </div>


        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">

        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">

          <h4 class="footer__title">{{ $t('footer.companyTitle') }}</h4>
          <LinkList :items="companyList" />
        </div>

      </div>

      <div class="footer__bottom">
        <span class="footer__copyright" v-html="$t('footer.copyright', {thisYear: this.thisYear})"></span>
        &verbar;
        <nuxt-link :to="localePath({ name: 'legal-notice' })" class="text-uppercase" target="_blank">{{$t('termsOfUse')}}</nuxt-link>
        &verbar;
        <span class="footer__issn">{{ $t('footer.issn') }}</span>
      </div>
    </Container>
  </footer>
</template>

<script>
  import Container from '~/components/Atoms/Container.vue'
  import Logo from '~/components/Atoms/Logo.vue'
  import Button from '~/components/Atoms/Button.vue'
  import LinkList from '~/components/Molecules/LinkList.vue'
  import ExternalLink from '~/components/Atoms/ExternalLink.vue'

  export default {
    name: "Footer",
    components: {
      Container,
      Logo,
      Button,
      LinkList,
      ExternalLink
    },
    data() {
      return {
        thisYear: null,
        companyList: this.$t('footer.companyList', { returnObjects: true }),
      }
    },
    mounted () {
      this.thisYear = new Date().getFullYear()
    }
  }
</script>

<style lang="scss" scoped>
  @import "~assets/styles/common/variables";

  .footer {
    background: $white;
    padding-top: 4rem;
    font-size: $font-size-sm;

    &__perex {
      max-width: 450px;
      margin: 14px 0 24px;
    }

    &__title {
      font-size: $font-size-base;
      font-weight: $font-weight-normal;
      color: $black;
      margin-bottom: .65rem;
    }

    &__bottom {
      margin-top: $spacer;
      border-top: solid 1px $gray-400;
      padding-top: .5rem;
      padding-bottom: .5rem;
    }

    .error-page & {
      display: none !important;
    }
  }
  .link-list {
    padding-left: 0;
    list-style: none;
    margin-bottom: $spacer;

    &__item {
      margin-bottom: .5rem;
    }
  }
</style>

<style lang="scss">
  @import "~assets/styles/common/variables";

  .footer {
    a {
      color: $text-muted;

      &:hover {
        color: $link-hover-color;
      }
    }
  }
</style>
