<template>
  <HeaderWaitingRoom v-if="$route.path.includes('/cekarna')"></HeaderWaitingRoom>
  <HeaderRsAssistant v-else-if="$route.path.includes('/rs-asistent')"></HeaderRsAssistant>
  <HeaderDefault v-else></HeaderDefault>
</template>

<script>
  import HeaderWaitingRoom from '~/components/Molecules/HeaderWaitingRoom.vue'
  import HeaderRsAssistant from '~/components/Molecules/HeaderRsAssistant.vue'
  import HeaderDefault from '~/components/Molecules/HeaderDefault.vue'

  export default {
    name: "Header",
    components: {
      HeaderWaitingRoom,
      HeaderRsAssistant,
      HeaderDefault
    }
  }
</script>

<style>
  .menu-is-open {
    overflow: hidden !important;
  }
</style>
