<template>
  <section class="hello">
    <Container>
      <div class="row">
        <div class="col-lg-5 col-xl-6">

          <h1 class="hello__title">
            {{ $t('hello.title') }}
            <span class="hello__subtitle">
              {{ $t('hello.subTitle') }}
            </span>
          </h1>

          <div class="hello__perex" v-html="$t('hello.perex')"></div>

          <FindDoctor />

          <nuxt-link :to="localePath('cekarna-i-dont-have-doctor')" class="text-underline btn btn-link mt-2 px-0">{{ $t('imNotDoctor') }}</nuxt-link>
        </div>
        <div class="col-lg-7 col-xl-6 mt-6 mt-lg-0 text-center text-md-left">
          <img src="~/assets/img/hello-figure.svg" alt="">
          <Partners />
        </div>
      </div>
    </Container>
  </section>
</template>

<script>
  import Container from '~/components/Atoms/Container.vue'
  import Partners from '~/components/Organisms/Partners.vue'
  import FindDoctor from '~/components/Organisms/FindDoctor.vue'

  export default {
    name: "Hello",
    components: {
      Container,
      Partners,
      FindDoctor
    }
  }
</script>

<style lang="scss" scoped>
  @import "~assets/styles/common/variables";

  .hello {
    padding-top: 50px;
    padding-bottom: 50px;

    @include media-breakpoint-up(lg) {
      padding-top: 180px;
      padding-bottom: 180px;
    }

    &__title {
      color: $primary;
      font-size: 35px;
      margin-bottom: 20px;
      @include media-breakpoint-up(md) {
        line-height: 1.3;
        font-size: 48px;
        margin-bottom: 40px;
      }
    }

    &__subtitle {
      font-weight: $font-weight-normal;
      display: block;
      font-size: 25px;
      @include media-breakpoint-up(md) {
        font-size: 34px;
      }
    }

    &__perex {
      margin-bottom: 54px;
      @include media-breakpoint-up(lg) {
        max-width: 373px;
      }
    }
  }
</style>
