<template>
  <section class="hello">
    <Container>
      <div class="row">
        <div class="col-lg-6 hello__body">

          <h1 class="hello__title">
            <span class="hello__subtitle">
              {{ $t('rsAssistant.hello.subTitle') }}
            </span>
            {{ $t('rsAssistant.hello.title') }}
          </h1>

          <div class="hello__perex" :inner-html.prop="$t('rsAssistant.hello.perex') | wrapLines"></div>

          <ScrollToRegistration />

          <img src="~/assets/img/sestra-novartis.svg" :alt="$t('rsAssistant.hello.imgTitle')" class="hello__figure">
        </div>
      </div>
    </Container>
  </section>
</template>

<script>
  import Container from '~/components/Atoms/Container.vue'
  import ScrollToRegistration from '~/components/Atoms/ScrollToRegistration.vue'

  export default {
    name: "HelloRsAssistant",
    components: {
      Container,
      ScrollToRegistration
    }
  }
</script>

<style lang="scss" scoped>
  @import "~assets/styles/common/variables";

  .hello {
    padding-top: 50px;
    padding-bottom: 50px;
    background: $white url('~assets/img/hello-bg.svg') -40px -40px no-repeat;
    background-size: contain;
    position: relative;
    overflow: hidden;

    @include media-breakpoint-up(lg) {
      padding-top: 90px;
      padding-bottom: 90px;
    }

    &__title {
      color: $primary;
      font-size: 35px;
      margin-bottom: 20px;
      @include media-breakpoint-up(lg) {
        line-height: 1.3;
        font-size: 48px;
        margin-bottom: 50px;
      }
    }

    &__subtitle {
      font-weight: $font-weight-normal;
    }

    &__perex {
      margin-bottom: 54px;
    }

    &__body {
      position: relative;
      z-index: 2;
    }

    &__figure {
      @include media-breakpoint-down(md) {
        display: none;
      }
      @include media-breakpoint-up(lg) {
        position: absolute;
        z-index: -1;
        left: 90%;
        top: 0;
        max-width: 700px;
        width: 60vw;
      }
    }
  }
</style>
