<template>
  <section class="how-it-works" id="how-it-works">
    <Container>
      <h2 class="how-it-works__title">{{ $t('howItWorks.title') }}</h2>

      <div class="row">
        <div class="col-md-4" v-for="(item, index) in items" :key="index">
          <DotInfo :figure="item.icon" :title="item.title" :perex="item.perex" />
        </div>
      </div>
    </Container>
  </section>
</template>

<script>
  import Container from '~/components/Atoms/Container.vue'
  import DotInfo from '~/components/Molecules/DotInfo.vue'

  export default {
    name: "HowItWorks",
    components: {
      Container,
      DotInfo
    },
    data() {
      return {
        items: this.$t('howItWorks.items', { returnObjects: true }),
      }
    },
  }
</script>

<style lang="scss" scoped>
  @import "~assets/styles/common/variables";

  .how-it-works {
    background: $white;
    padding-top: 80px;
    padding-bottom: 40px;

    @include media-breakpoint-up(sm) {
      padding-top: 90px;
      padding-bottom: 90px;
    }

    &__title {
      font-size: 24px;
      line-height: 33px;
      color: $primary;
      text-align: center;
      margin-bottom: 46px;
      @include media-breakpoint-up(md) {
        margin-bottom: 88px;
      }
    }
  }
</style>
