<template>
  <main class="i-dont-have-doctor">
    <Container>
      <Panel :title="$t('iDontHaveDoctor.title')" class="mb-5">
        <template v-slot:body>
          {{ $t('iDontHaveDoctor.perex') }}

          <InfoList :items="infoListItems" class="mt-6" />

          <Button :className="`btn btn-primary`" :onClick="goToQuestionForm">{{ $t('iDontHaveDoctor.sendQuestion') }}</Button>
        </template>
      </Panel>
    </Container>
  </main>
</template>

<script>
  import Alert from '~/components/Atoms/Alert.vue'
  import Button from '~/components/Atoms/Button.vue'
  import Container from '~/components/Atoms/Container.vue'
  import Panel from '~/components/Atoms/Panel.vue'
  import InfoList from '~/components/Molecules/InfoList.vue'

  export default {
    name: "IDontHaveDoctor",
    components: {
      Button,
      Panel,
      Container,
      InfoList,
      Alert,
    },
    data() {
      return {
        infoListItems: this.$t('benefits.benefitsQuestion.infoList', { returnObjects: true })
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import "~assets/styles/common/variables";

  .i-dont-have-doctor {
    padding-top: 2rem;
    padding-bottom: 2rem;

    @include media-breakpoint-up(md) {
      padding-top: 96px;
      padding-bottom: 96px;
    }
  }
</style>
