<template>
  <aside class="partners">
    <div class="partners__body">
      <h3 class="partners__title">{{ $t('partners.specialSupport') }}</h3>
      <div class="partners__list">
        <img src="~/assets/img/partner-lekarska-spol.png" srcset="~/assets/img/partner-lekarska-spol@2x.png 2x" alt="">
      </div>

      <div class="partners__list">
        <img src="~/assets/img/partner-mzcr.png" srcset="~/assets/img/partner-mzcr@2x.png 2x" alt="">
      </div>
    </div>
    <div class="partners__box" :inner-html.prop="$t('partners.info') | brLine"></div>
  </aside>
</template>

<script>
  export default {
    name: "Partners",
  }
</script>

<style lang="scss" scoped>
  @import "~assets/styles/common/variables";
  $p-spacer:                25px !default;
  $p-border-radius:         .5rem !default;

  .partners {
    $this: &;
    background: rgba($white, .6);
    width: 100%;
    max-width: 302px;
    border-radius: $p-border-radius;

    &__body {
      padding: 30px 30px 0;
    }

    &__title {
      font-size: 15px;
      line-height: 20px;
      letter-spacing: 0.05em;
      color: rgba($gray-600, 0.8);
      text-transform: uppercase;
      text-align: center;
      margin-bottom: $p-spacer;
    }

    &__list {
      text-align: center;
      margin-bottom: $p-spacer/2;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      > img {
        padding: .5rem;
        margin-bottom: 1rem;
      }
    }

    &__box {
      background: $white;
      border-radius: $p-border-radius;
      text-align: center;
      padding: 1rem;

      @include media-breakpoint-up(md) {
        .hello & {
          padding: 1.5rem 1rem;
        }
      }
    }

    .hello & {
      @include media-breakpoint-down(sm) {
        margin-top: -20px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
      }
      @include media-breakpoint-up(md) {
        position: absolute;
        top: -50px;
        right: 0;
        max-width: 302px;
      }

      @include media-breakpoint-up(xl) {
        left: 50%;
      }
    }
  }
</style>
