<template>
  <section class="question-form" id="question-form">
    <Container class="container--lg">
      <form
        @submit.prevent="submitQuestion"
        v-if="!formIsSubmitted">
        <transition-group name="fade" mode="in-out" v-on:leave="scrollTo">
          <div key="t1" v-if="step == 1">
            <Container class="container--md">
              <h2 class="question-form__title">{{ $t('questionForm.title') }}</h2>

              <p>{{ $t('questionForm.subtitle') }}</p>

              <div class="mb-4">
                <textarea
                  class="form-control"
                  id="inputQuestion"
                  rows="5"
                  :placeholder="$t('questionForm.question.placeholder')"
                  v-model="$v.step1.question.$model"
                  :class="[{'is-invalid': $v.step1.question.$error}, {'is-valid': !$v.step1.question.$invalid}]"
                ></textarea>
                <div v-if="$v.step1.question.$error" class="invalid-feedback">{{ $t('questionForm.question.errorText') }}</div>
              </div>

              <div class="mb-4">
                <span class="question-form__file-upload" v-b-modal.uploadFiles><font-awesome-icon icon="paperclip" class="text-primary mr-2" />{{ $t('fileUpload.addFiles') }}</span>

                <FileList :files="attachments" />

                <b-modal id="uploadFiles" ref="upload-file-modal" centered>
                  <template v-slot:modal-header>
                    <h4 class="mb-0">{{ $t('questionForm.modalTitle') }}</h4>
                  </template>
                  <DragAndDrop @filesUploaded="closeUploadModal"/>
                  <template v-slot:modal-footer>
                    <a href="#" class="btn btn-primary px-6" @click.prevent="closeUploadModal">{{ $t('close') }}</a>
                  </template>
                </b-modal>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="mb-4">
                    <label for="inputFirstName">{{ $t('questionForm.firstName.title') }}</label>
                    <input
                      type="text"
                      class="form-control"
                      id="inputFirstName"
                      v-model="$v.step1.firstName.$model"
                      :class="[{'is-invalid': $v.step1.firstName.$error}, {'is-valid': !$v.step1.firstName.$invalid}]">
                    <small class="form-text text-muted" v-if="!doctorDetail.isRegistered && !$v.step1.firstName.$error">{{ $t('questionForm.firstName.helpText') }}</small>
                    <small class="form-text invalid-feedback" v-else>{{ $t('questionForm.firstName.errorText') }}</small>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-4">
                    <label for="inputLastName">{{ $t('questionForm.lastName.title') }}</label>
                    <input
                      type="text"
                      class="form-control"
                      id="inputLastName"
                      v-model="$v.step1.lastName.$model"
                      :class="[{'is-invalid': $v.step1.lastName.$error}, {'is-valid': !$v.step1.lastName.$invalid}]">
                    <small class="form-text text-muted" v-if="!doctorDetail.isRegistered && !$v.step1.lastName.$error">{{ $t('questionForm.lastName.helpText') }}</small>
                    <small class="form-text invalid-feedback" v-else>{{ $t('questionForm.lastName.errorText') }}</small>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="mb-4">
                    <label for="email">{{ $t('questionForm.email.title') }}</label>
                    <input
                      type="text"
                      class="form-control"
                      id="email"
                      v-model="$v.step1.email.$model"
                      :class="[{'is-invalid': $v.step1.email.$error}, {'is-valid': !$v.step1.email.$invalid}]">
                    <small class="form-text text-muted" v-if="!doctorDetail.isRegistered && !$v.step1.email.$error && $v.step1.email.$invalid && !$v.step1.email.required">{{ $t('questionForm.email.helpText') }}</small>
                    <small class="form-text invalid-feedback" v-else-if="$v.step1.email.$error && $v.step1.email.$invalid && $v.step1.email.required">{{ $t('questionForm.email.errorEmailText') }}</small>
                    <small class="form-text invalid-feedback" v-else>{{ $t('questionForm.email.errorText') }}</small>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-4">
                    <label for="phone">{{ $t('questionForm.phone.title') }}</label>
                    <input
                      type="text"
                      class="form-control"
                      id="phone"
                      v-model="$v.step1.phone.$model"
                      :class="[{'is-invalid': $v.step1.phone.$error}, {'is-valid': !$v.step1.phone.$invalid}]">
                    <small class="form-text text-muted" v-if="!doctorDetail.isRegistered && !$v.step1.phone.$error && $v.step1.phone.$invalid && !$v.step1.phone.required">{{ $t('questionForm.phone.helpText') }}</small>
                    <small class="form-text invalid-feedback" v-else-if="$v.step1.phone.$error && $v.step1.phone.$invalid && $v.step1.phone.required">{{ $t('questionForm.phone.errorPhoneText') }}</small>
                    <small class="form-text invalid-feedback" v-else>{{ $t('questionForm.phone.errorText') }}</small>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="mb-4">
                    <label for="inputBirthYear">{{ doctorDetail.isRegistered?$t('questionForm.birthYear.titleRegistered'):$t('questionForm.birthYear.title') }}</label>
                    <input
                      type="text"
                      class="form-control"
                      id="inputBirthYear"
                      v-model="$v.step1.birthYear.$model"
                      :class="[{'is-invalid': $v.step1.birthYear.$error}, {'is-valid': !$v.step1.birthYear.$invalid}]">
                    <small class="form-text text-muted" v-if="!doctorDetail.isRegistered && !$v.step1.birthYear.$error && $v.step1.birthYear.$invalid && !$v.step1.birthYear.required">{{ $t('questionForm.birthYear.helpText') }}</small>
                    <small class="form-text invalid-feedback" v-else-if="!$v.step1.birthYear.numeric || !$v.step1.birthYear.minLength || !$v.step1.birthYear.maxLength">{{ $t('questionForm.birthYear.errorLengthText') }}</small>
                    <small class="form-text invalid-feedback" v-else-if="!$v.step1.birthYear.between">{{ $t('questionForm.birthYear.errorBetweenText') }}</small>
                    <small class="form-text invalid-feedback" v-else>{{ $t('questionForm.birthYear.errorText') }}</small>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-4">
                    <label for="inputZipCode">{{ $t('questionForm.zipCode.title') }}</label>
                    <input
                      type="text"
                      class="form-control"
                      id="inputZipCode"
                      v-model="$v.step1.zipCode.$model"
                      :class="[{'is-invalid': $v.step1.zipCode.$error}, {'is-valid': !$v.step1.zipCode.$invalid}]">
                    <small class="form-text text-muted" v-if="!doctorDetail.isRegistered && !$v.step1.zipCode.$error && $v.step1.zipCode.$invalid && !$v.step1.zipCode.zipCode">{{ $t('questionForm.zipCode.helpText') }}</small>
                    <small class="form-text invalid-feedback" v-else-if="!$v.step1.zipCode.zipCode && this.step1.zipCode.length >= 1">{{ $t('questionForm.zipCode.errorZipCodeText') }}</small>
                    <small class="form-text invalid-feedback" v-else>{{ $t('questionForm.zipCode.errorText') }}</small>
                  </div>
                </div>
              </div>

              <div class="row" v-if="doctorDetail.isRegistered">
                <div :class="{
                  'col-md-6': !!doctorDetail.branch && doctorDetail.branch.length > 1,
                  'col-md-12': !(!!doctorDetail.branch && doctorDetail.branch.length > 1),
                  'is-invalid': $v.step1_activeVC.insuranceCompany.$error
                }">
                  <div class="mb-4">
                    <label for="inputInsuranceCompany">{{ $t('questionForm.insuranceCompany.title') }}</label>
                    <multiselect
                      id="inputInsuranceCompany"
                      v-model="$v.step1_activeVC.insuranceCompany.$model"
                      label="name"
                      :searchable="false"
                      :allow-empty="false"
                      :options="this.insuranceCompanyList"
                      :selectedLabel="''"
                      :selectLabel="''"
                      :deselectLabel="''"
                      :placeholder="this.$t( 'questionForm.insuranceCompany.selectInsuranceCompany' )"
                      :class="[{'is-invalid': $v.step1_activeVC.insuranceCompany.$error}]">
                      <template slot="singleLabel" slot-scope="{ option }">{{ option.abbr }} {{ option.code }} {{ option.name }}</template>
                      <template slot="option" slot-scope="{ option }">{{ option.abbr }} {{ option.code }} {{ option.name }}</template>
                    </multiselect>
                    <small class="form-text invalid-feedback" v-if="$v.step1_activeVC.insuranceCompany.$error">{{ $t('questionForm.insuranceCompany.errorText') }}</small>
                  </div>
                </div>
                <div class="col-md-6" v-if="!!doctorDetail.branch && doctorDetail.branch.length > 1">
                  <div class="mb-4">
                    <label for="inputBranch">{{ $t('questionForm.selectedBranchValue.title') }}</label>
                    <multiselect
                      id="inputBranch"
                      v-model="localSelectedBranchValue"
                      label="name"
                      :searchable="false"
                      :allow-empty="false"
                      :preselect-first="true"
                      :options="doctorDetail.branch"
                      :selectedLabel="''"
                      :selectLabel="''"
                      :deselectLabel="''"
                      :placeholder="''">
                      <template slot="singleLabel" slot-scope="{ option }">{{ option.name }}</template>
                    </multiselect>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="mb-4">
                    <label for="inputZipCode">{{ $t('questionForm.timeAvailability.title') }}</label>
                    <textarea
                      class="form-control"
                      id="timeAvailability"
                      rows="5"
                      :placeholder="$t('questionForm.timeAvailability.placeholder')"
                      v-model="$v.step1_activeVC.timeAvailability.$model"
                      :class="[{'is-invalid': $v.step1_activeVC.timeAvailability.$error}, {'is-valid': !$v.step1_activeVC.timeAvailability.$invalid}]"
                    ></textarea>
                    <div v-if="$v.step1_activeVC.timeAvailability.$error" class="invalid-feedback">{{ $t('questionForm.timeAvailability.errorText') }}</div>
                  </div>
                </div>
              </div>
            </Container>
          </div>

          <div key="t2" id="infection-test-line" ></div>
          <div key="t3" v-if="step == 2">
            <Container class="container--md">
              <h1 class="infection-test__title">{{ $t('infectionTest.title') }}</h1>
              <div class="infection-test__perex" v-html="$t('infectionTest.perex')"></div>
            </Container>
            <Container class="container--lg">
              <div class="row">
                <div class="col-md-6 px-5">
                  <div class="infection-test__item">
                    <div class="infection-test__item__title" :class="{'is-invalid': $v.step2.feverQuestion.$error}">{{ $t('infectionTest.questions.fever') }}</div>
                    <b-form-radio-group
                      v-model="$v.step2.feverQuestion.$model"
                      :options="optionsYesNo"
                      class="infection-test__item__body"
                      value-field="item"
                      text-field="name"
                      disabled-field="notEnabled"
                      buttons
                      button-variant="outline-primary"
                      size="sm"
                    ></b-form-radio-group>
                  </div>

                  <div class="infection-test__item">
                    <div class="infection-test__item__title" :class="{'is-invalid': $v.step2.dryCoughQuestion.$error}">{{ $t('infectionTest.questions.dryCough') }}</div>
                    <b-form-radio-group
                      v-model="$v.step2.dryCoughQuestion.$model"
                      :options="optionsYesNo"
                      class="infection-test__item__body"
                      value-field="item"
                      text-field="name"
                      disabled-field="notEnabled"
                      buttons
                      button-variant="outline-primary"
                      size="sm"
                    ></b-form-radio-group>
                  </div>

                  <div class="infection-test__item">
                    <div class="infection-test__item__title" :class="{'is-invalid': $v.step2.breathingDifficultiesQuestion.$error}">{{ $t('infectionTest.questions.breathingDifficulties') }}</div>
                    <b-form-radio-group
                      v-model="$v.step2.breathingDifficultiesQuestion.$model"
                      :options="optionsYesNo"
                      class="infection-test__item__body"
                      value-field="item"
                      text-field="name"
                      disabled-field="notEnabled"
                      buttons
                      button-variant="outline-primary"
                      size="sm"
                    ></b-form-radio-group>
                  </div>

                </div>
                <div class="col-md-6 px-5">

                  <div class="infection-test__item">
                    <div class="infection-test__item__title" :class="{'is-invalid': $v.step2.musclePainQuestion.$error}">{{ $t('infectionTest.questions.musclePain') }}</div>
                    <b-form-radio-group
                      v-model="$v.step2.musclePainQuestion.$model"
                      :options="optionsYesNo"
                      class="infection-test__item__body"
                      value-field="item"
                      text-field="name"
                      disabled-field="notEnabled"
                      buttons
                      button-variant="outline-primary"
                      size="sm"
                    ></b-form-radio-group>
                  </div>

                  <div class="infection-test__item">
                    <div class="infection-test__item__title" :class="{'is-invalid': $v.step2.sneezingQuestion.$error}">{{ $t('infectionTest.questions.sneezing') }}</div>
                    <b-form-radio-group
                      v-model="$v.step2.sneezingQuestion.$model"
                      :options="optionsYesNo"
                      class="infection-test__item__body"
                      value-field="item"
                      text-field="name"
                      disabled-field="notEnabled"
                      buttons
                      button-variant="outline-primary"
                      size="sm"
                    ></b-form-radio-group>
                  </div>

                </div>
              </div>

              <div class="infection-test__other">
                <div class="row">
                  <div class="col-md-6 px-5">

                    <div class="infection-test__item">
                      <div class="infection-test__item__title" :class="{'is-invalid': $v.step2.infectedContactQuestion.$error}">{{ $t('infectionTest.questions.infectedContact') }}</div>
                      <b-form-radio-group
                        v-model="$v.step2.infectedContactQuestion.$model"
                        :options="optionsYesNo"
                        class="infection-test__item__body"
                        value-field="item"
                        text-field="name"
                        disabled-field="notEnabled"
                        buttons
                        button-variant="outline-primary"
                        size="sm"
                      ></b-form-radio-group>
                    </div>

                  </div>
                  <div class="col-md-6 px-5">

                    <div class="infection-test__item">
                      <div class="infection-test__item__title" :class="{'is-invalid': $v.step2.visitRiskCountryQuestion.$error}">{{ $t('infectionTest.questions.visitRiskCountry') }}</div>
                      <b-form-radio-group
                        v-model="$v.step2.visitRiskCountryQuestion.$model"
                        :options="optionsYesNo"
                        class="infection-test__item__body"
                        value-field="item"
                        text-field="name"
                        disabled-field="notEnabled"
                        buttons
                        button-variant="outline-primary"
                        size="sm"
                      ></b-form-radio-group>
                    </div>

<!--                    <transition-group name="slide"  mode="out-in">-->
                      <template v-if="step2.visitRiskCountryQuestion == true">
                        <div class="mb-3">
                          <multiselect
                            key="tr1"
                            v-model="$v.riskCountry.selectedCountry.$model"
                            :allow-empty="true"
                            :options="this.countryList"
                            :searchable="false"
                            :selectedLabel="''"
                            :selectLabel="''"
                            :deselectLabel="''"
                            :placeholder="$t('infectionTest.questions.riskCountry.placeholder')"
                            :class="[{'is-invalid': $v.riskCountry.selectedCountry.$error}]">
                            <template slot="singleLabel" slot-scope="{ option }">{{ option.value }}</template>
                            <template slot="option" slot-scope="{ option }">{{ option.value }}</template>
                          </multiselect>
                          <small class="form-text invalid-feedback" v-if="$v.riskCountry.selectedCountry.$error">{{ $t('infectionTest.questions.riskCountry.errorText') }}</small>
                        </div>

                        <div class="form-date-control" key="tr2">
                          <font-awesome-icon icon="calendar" class="form-date-control__icon" />
                          <v-date-picker
                            mode="range"
                            v-model="$v.riskCountry.selectedDatePicker.$model"
                            color="teal"
                            :class="[{'is-invalid': $v.riskCountry.selectedDatePicker.$error}]">
                            <input
                              id="date"
                              :placeholder="$t('infectionTest.questions.riskDate.placeholder')"
                              slot-scope="{ inputProps, inputEvents }"
                              class="form-control"
                              :class="[{'is-invalid': $v.riskCountry.selectedDatePicker.$error}]"
                              v-bind="inputProps"
                              v-on="inputEvents"

                              v-on:keydown.prevent="() => {return false}">
                          </v-date-picker>
                          <small class="form-text invalid-feedback" v-if="$v.riskCountry.selectedDatePicker.$error">{{ $t('infectionTest.questions.riskDate.errorText') }}</small>
                        </div>
                      </template>
<!--                    </transition-group>-->

                  </div>
                </div>
              </div>


            </Container>
          </div>

          <div key="t4" class="border-top pt-6 mt-4 pb-2" v-if="!doctorDetail.isRegistered || (doctorDetail.isRegistered && step == 2)">
            <div class="mb-4">
              <div class="custom-control custom-checkbox" :class="{'is-invalid': $v.agreements.personalDataAgreement.$error}">
                <input
                  class="custom-control-input"
                  type="checkbox"
                  id="inputPersonalDataAgreement"
                  v-model="$v.agreements.personalDataAgreement.$model">
                <label class="custom-control-label" for="inputPersonalDataAgreement">
                  {{ $t('dataProcessing.iAgree') }} <span class="question-form__link" @click.prevent="$eventHub.$emit('openPersonalModal')">{{ $t('dataProcessing.personalDataProcessing') }}</span>
                </label>
              </div>
            </div>

            <template v-if="step == 2">
              <div class="mb-4">
                <div class="custom-control custom-checkbox" :class="{'is-invalid': $v.step2.checkedMyDoctor.$error}">
                  <input
                    class="custom-control-input"
                    type="checkbox"
                    id="inputCheckedMyDoctor"
                    v-model="$v.step2.checkedMyDoctor.$model"
                  >
                  <label class="custom-control-label" for="inputCheckedMyDoctor">
                    {{ $t('questionForm.checkedMyDoctor') }}
                  </label>
                </div>
              </div>
              <div class="mb-4 persona-id-box">
                <label for="inputPersonalId">{{ $t('questionForm.personalId.title') }}</label>
                <input
                  type="text"
                  class="form-control"
                  id="inputPersonalId"
                  v-model="$v.step2.personalId.$model"
                  :class="[{'is-invalid': $v.step2.personalId.$error}, {'is-valid': !$v.step2.personalId.$invalid}]">
                <small class="form-text text-muted" v-if="!$v.step2.personalId.$error">{{ $t('questionForm.personalId.helpText') }}</small>
                <small class="form-text invalid-feedback" v-else>{{ $t('questionForm.personalId.errorText') }}</small>
              </div>
            </template>

            <div class="mb-4">
              <div class="custom-control custom-checkbox" :class="{'is-invalid': $v.agreements.conditionsAgreement.$error}">
                <input
                  class="custom-control-input"
                  type="checkbox"
                  id="conditionsAgreement"
                  v-model="$v.agreements.conditionsAgreement.$model">
                <label class="custom-control-label" for="conditionsAgreement">
                  {{ $t('dataProcessing.iAgree') }}
                  <span class="question-form__link" @click.prevent="$eventHub.$emit('openConditionModal')">{{ $t('dataProcessing.conditionsAgreement') }}</span>
                </label>
              </div>
            </div>

            <div class="mb-5">
              <div class="custom-control custom-checkbox">
                <input
                  class="custom-control-input"
                  type="checkbox"
                  id="newsletterAgreement"
                  v-model="agreements.newsletterAgreement"
                >
                <label class="custom-control-label" for="newsletterAgreement">
                  {{ $t('dataProcessing.iAgree') }} <span class="question-form__link" @click.prevent="$eventHub.$emit('openNewsletterModal')">{{ $t('dataProcessing.newsletterProcessing') }}</span>
                </label>
              </div>
            </div>
          </div>
        </transition-group>

        <div class="text-center mt-6">
          <button
            v-if="step == 2 && !loading"
            type="submit"
            class="btn text-center px-6 mr-2"
            :disabled="loading"
            @click.prevent.stop="step=1">{{$t('questionForm.back') }}</button>
          <button
            v-if="!loading"
            type="submit"
            class="btn btn-primary text-center px-6"
            :disabled="loading">{{ (doctorDetail.isRegistered && step == 1) ? $t('questionForm.next') : $t('questionForm.send') }}</button>
          <Loading v-if="loading" margin="0"/>
        </div>
      </form>

      <Panel v-else>
        <template v-slot:body>

          <InfoMessage :title="$t('questionForm.sendTitle')" :perex="$t('questionForm.sendPerex')">
             <template v-slot:action>
                <nuxt-link :to="localePath('cekarna')" class="btn btn-primary">{{ $t('goToHome') }}</nuxt-link>
             </template>
          </InfoMessage>

        </template>
      </Panel>
    </Container>
    <PersonalModal />
    <ConditionModal />
    <NewsletterModal />
  </section>
</template>

<script>
  import Container from '~/components/Atoms/Container.vue'
  import InfoMessage from '~/components/Atoms/InfoMessage.vue'
  import DragAndDrop from '~/components/Molecules/DragAndDropBox'
  import FileList from '~/components/Molecules/FileList'
  import Panel from '~/components/Atoms/Panel.vue'
  import ExternalLink from '~/components/Atoms/ExternalLink.vue'
  import InfectionTest from '~/components/Molecules/InfectionTest.vue'
  import PersonalModal from '~/components/Atoms/PersonalModal.vue'
  import ConditionModal from '~/components/Atoms/ConditionModal.vue'
  import NewsletterModal from '~/components/Atoms/NewsletterModal.vue'
  import { required, email, minLength, maxLength, between, numeric } from "vuelidate/lib/validators"
  import { parsePhoneNumberFromString } from 'libphonenumber-js/min'
  import { mapMutations, mapActions } from 'vuex'
  import Loading from "~/components/Atoms/Loading";

  const phone = (value) => {
    const phoneNumber = parsePhoneNumberFromString(value);
    if (phoneNumber !== undefined && phoneNumber.isPossible() && /^\+[0-9\- ]*[0-9]$/.test(value)) {
      return true;
    }
    return false;
  }
  const zipCode = (value) => {
    return /^[0-9]{3} ?[0-9]{2}$/.test(value);
  }
  const checked = (value) => {
    return value
  }

  export default {name: "QuestionForm",
    data() {
      return {
        step: 1,
        step1: {
          question: "",
          firstName: "",
          lastName: "",
          email: "",
          phone: "",
          birthYear: "",
          zipCode: ""
        },
        step1_activeVC: {
          insuranceCompany: "",
          timeAvailability: ""
        },
        step2: {
          personalId: '',
          checkedMyDoctor: false,
          feverQuestion: null,
          dryCoughQuestion: null,
          breathingDifficultiesQuestion: null,
          musclePainQuestion: null,
          sneezingQuestion: null,
          infectedContactQuestion: null,
          visitRiskCountryQuestion: null
        },
        riskCountry: {
          selectedCountry: null,
          selectedDatePicker: null
        },
        agreements: {
          conditionsAgreement: false,
          personalDataAgreement: false,
          newsletterAgreement: false,
        },
        localSelectedBranchValue: '',
        formIsSubmitted: false,
        optionsYesNo: [
          { item: true, name: this.$t('yes') },
          { item: false, name: this.$t('no') },
        ]
      }
    },
    components: {
      Loading,
      Container,
      DragAndDrop,
      Panel,
      InfoMessage,
      ExternalLink,
      FileList,
      InfectionTest,
      PersonalModal,
      ConditionModal,
      NewsletterModal
    },
    validations: {
      step1: {
        question: { required },
        firstName: { required },
        lastName: { required },
        email: { required, email },
        phone: { required, phone },
        birthYear: {
          required,
          numeric,
          minLength: minLength(4),
          maxLength: maxLength(4),
          between: between (new Date().getFullYear() - 120, new Date().getFullYear())
        },
        zipCode: { required, zipCode }
      },
      step1_activeVC: {
        insuranceCompany: { required },
        timeAvailability: {required}
      },
      step2: {
        checkedMyDoctor: { checked },
        personalId: { required },
        feverQuestion: { required },
        dryCoughQuestion: { required },
        breathingDifficultiesQuestion: { required },
        musclePainQuestion: { required },
        sneezingQuestion: { required },
        infectedContactQuestion: { required },
        visitRiskCountryQuestion: { required }
      },
      riskCountry: {
        selectedCountry: { required },
        selectedDatePicker: { required }
      },
      agreements: {
        personalDataAgreement: { checked },
        conditionsAgreement: { checked }
      }
    },
    computed: {
      attachments() {
        return this.$store.state.question.attachments
      },
      loading() {
        return this.$store.state.question.loading
      },
      doctorDetail() {
        return this.$store.state.doctors.doctorDetail
      },
      selectedBranchValue() {
        return this.$store.state.question.selectedBranchValue
      },
      insuranceCompanyList() {
        return this.$store.state.question.insuranceCompanyList
      },
      countryList() {
        return this.$store.state.question.countryList
      }
    },
    methods: {
      closeUploadModal () {
        this.$refs['upload-file-modal'].hide()
      },
      scrollToError() {
        this.$scrollTo('.is-invalid', 300, {
          offset: -60,
          onDone: element => {
            element.focus()
          },
        })
      },
      submitQuestion(e) {
        if (this.step == 1){
          if (this.doctorDetail.isRegistered){
            this.$v.step1_activeVC.$touch()
          }
          this.$v.step1.$touch()
          if (this.$v.step1.$invalid || (this.doctorDetail.isRegistered && this.$v.step1_activeVC.$invalid)) {
            if (!this.doctorDetail.isRegistered) {
              this.$v.agreements.$touch()
            }
            this.$nextTick(() => this.scrollToError())
            return
          }else{
            if (this.doctorDetail.isRegistered) {
              this.step = 2
              return
            }else{
              this.$v.agreements.$touch()
              if (this.$v.agreements.$invalid) {
                this.$nextTick(() => this.scrollToError())
                return
              }else{
                this.sendQuestion()
              }
            }
          }
        }else{

          this.$v.step2.$touch()
          this.$v.agreements.$touch()
          if (this.step2.visitRiskCountryQuestion){
            this.$v.riskCountry.$touch()
          }
          if ( this.$v.step2.$invalid || this.$v.agreements.$invalid || (this.step2.visitRiskCountryQuestion && this.$v.riskCountry.$invalid)) {
            this.$nextTick(() => this.scrollToError())
            return
          }else{
            this.sendQuestion()
          }
        }

        e.preventDefault();
        return false;
      },
      sendQuestion() {
        this.setLoading(true)
        let questionData = {
          "questions": [
            {
              "question": this.$t('questionForm.subtitle'),
              "answer": this.step1.question
            }
          ],
          "patient": {
            "firstName": this.step1.firstName,
            "lastName": this.step1.lastName,
            "birthYear": parseInt(this.step1.birthYear),
            "phone": this.step1.phone,
            "email": this.step1.email,
            "zip": this.step1.zipCode
          },
          "attachments": this.attachments.length? this.attachments : [],
          "locale": "cs",
          "medicalAdvisoryId": this.doctorDetail.isRegistered ? 5 : 4,
          "personalDataAgreement": this.agreements.personalDataAgreement,
          "platformId": 1,
          "newsletterAgreement": this.agreements.newsletterAgreement,
        }

        if (this.$route.params.id){
          questionData['doctor'] = {
            id: parseInt(this.$route.params.id),
            branchId: this.selectedBranchValue.id
          }
        }

        if (this.doctorDetail.isRegistered){
          questionData['patient']['healthInsuranceProviderCode'] = this.step1_activeVC.insuranceCompany.code,
          questionData['patient']['birthNumber'] = this.step2.personalId
          questionData['timeAvailability'] = this.step1_activeVC.timeAvailability
          questionData['myDoctor'] = this.step2.checkedMyDoctor
          questionData['preScoring'] = [
            { question: this.$t('infectionTest.questions.fever'), answer: this.step2.feverQuestion?'Ano':'Ne'},
            { question: this.$t('infectionTest.questions.dryCough'), answer: this.step2.dryCoughQuestion?'Ano':'Ne'},
            { question: this.$t('infectionTest.questions.breathingDifficulties'), answer: this.step2.breathingDifficultiesQuestion?'Ano':'Ne'},
            { question: this.$t('infectionTest.questions.musclePain'), answer: this.step2.musclePainQuestion?'Ano':'Ne'},
            { question: this.$t('infectionTest.questions.sneezing'), answer: this.step2.sneezingQuestion?'Ano':'Ne'},
            { question: this.$t('infectionTest.questions.infectedContact'), answer: this.step2.infectedContactQuestion?'Ano':'Ne'},
            { question: this.$t('infectionTest.questions.visitRiskCountry'), answer: this.step2.visitRiskCountryQuestion?'Ano':'Ne'}
          ]
          if (this.step2.visitRiskCountryQuestion){
            questionData['preScoring'].push({ question: this.$t('infectionTest.questions.riskCountry.label'), answer: this.riskCountry.selectedCountry.value})
            questionData['preScoring'].push({ question: this.$t('infectionTest.questions.riskDate.label'), answer: this.getDate(this.riskCountry.selectedDatePicker.start) + ' - ' + this.getDate(this.riskCountry.selectedDatePicker.end)})
          }
        }

        this.$axios.post('/api/v2/questions',questionData)
          .then(data => {
            this.formIsSubmitted = true
            this.setLoading(false)
          })
          .catch(err => {
            this.setLoading(false)
          })
          .finally(() => {
            this.setLoading(false)
          })
      },
      scrollTo() {
        this.$scrollTo('#infection-test-line')
      },
      getDate(datetime) {
        let date = new Date(datetime)
        return date.getDate() + '. ' + (date.getMonth() + 1 ) + '. ' + date.getFullYear()
      },
      ...mapMutations({
        resetAttachments: 'question/resetAttachments',
        setLoading: 'question/setLoading',
        setSelectedBranchValue: 'question/setSelectedBranchValue'
      }),
      ...mapActions({
        loadInsuranceCompanyList: 'question/loadInsuranceCompanyList',
        loadCountryList: 'question/loadCountryList'
      })
    },
    mounted() {
      this.resetAttachments()
      this.loadInsuranceCompanyList()
      this.loadCountryList()
    },
    watch: {
      localSelectedBranchValue(value) {
        this.setSelectedBranchValue(value)
      },
      selectedBranchValue(value) {
        this.localSelectedBranchValue = value
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import "~assets/styles/common/variables";
  @import "~object-fit-images/preprocessors/mixin.scss";

  .question-form {
    padding-top: 110px;
    padding-bottom: 110px;

    &__title {
      font-size: 24px;
      text-align: center;
      color: $primary;
      margin-bottom: 2rem;
    }

    form {
      position: relative;
    }

    input:focus {
      outline: none;
    }

    .form-control {
      color: $primary;

      &:is-valid,
      &.is-valid {
        border-color: $input-border-color;
      }
    }

    &__link {
      color: $gray-850;
      text-decoration: underline;
      cursor: pointer;

      &:hover {
        color: $primary;
      }
    }

    &__file-upload {
      text-decoration: underline;
      display: block;
      text-align: right;
      cursor: pointer;
      font-size: 15px;

      &:hover {
        color: $primary;
      }

      &:focus {
        outline: none;
      }
    }
  }
  .fade-enter-active, .fade-leave-active {
    transition: opacity .4s;
  }
  .fade-leave-active{
    position: absolute;
    max-width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
  .fade-enter, .fade-leave-to {
    opacity: 0;
  }
  .persona-id-box {
    margin-left: 41px;
    max-width: 300px;
  }
</style>

<style lang="scss">
  @import "~assets/styles/common/variables";
  .multiselect.is-invalid .multiselect__tags{
    border-color: $red;
  }
</style>
<style lang="scss" scoped>
  @import "~assets/styles/common/variables";

  .infection-test {
    &__title {
      font-size: 24px;
      text-align: center;
      color: $primary;
      margin-bottom: 2rem;
    }

    &__perex {
      font-size: 20px;
      line-height: 27px;
      text-align: center;
      max-width: 640px;
      margin: 0 auto 90px;
    }

    input:focus {
      outline: none;
    }

    .form-control {
      color: $primary;

      &:is-valid,
      &.is-valid {
        border-color: $input-border-color;
      }
    }

    &__item {
      display: flex;
      align-items: center;
      margin-bottom: 24px;

      &__title {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
        font-weight: $font-weight-bolder;
        flex-basis: 0;
        flex-grow: 1;
        line-height: 127.9%;
      }

      &__title.is-invalid{
        color: $red;
      }

      &__body {
        margin-left: 10px;

        &:focus {
          outline: none;
        }
      }
    }

    &__other {
      padding-top: 60px;
      margin-top: 60px;
      border-top: solid 1px $gray-300;
    }

    &__link {
      color: $gray-850;
      text-decoration: underline;
      cursor: pointer;

      &:hover {
        color: $primary;
      }
    }
  }

  .form-date-control {
    display: block;
    position: relative;
    margin-bottom: 1rem;

    &__icon {
      position: absolute;
      left: add($input-padding-y, .25rem);
      top: $input-padding-x/2;
      color: $primary;
      pointer-events: none;
    }

    .form-control {
      padding-left: $input-padding-x*1.5;
    }
  }
  .slide-enter-active, .slide-leave-active {
    transition: opacity .4s;
  }
  .slide-leave-active{
    position: absolute;
  }
  .slide-enter, .slide-leave-to {
    opacity: 0;
  }
  .slide-move {
    transition: transform .4s;
  }
</style>

<style lang="scss">
  @import "~assets/styles/common/variables";

  .infection-test__item {
    .btn {
      border-radius: 4px !important;

      &:not(.active):not(:hover) {
        background: $white;
        border-color: $gray-300;
        color: $gray-600;
      }

      + .btn {
        margin-left: 1rem;
      }
    }
  }

  .date-time-picker {
    input {
      display: block;
      width: 100%;
      height: $input-height;
      padding: $input-padding-y $input-padding-x/1.5;
      font-family: $input-font-family;
      @include font-size($input-font-size);
      font-weight: $input-font-weight;
      line-height: $input-line-height;
      color: $input-color;
      background-color: $input-bg;
      background-clip: padding-box;
      border: $input-border-width solid $input-border-color;

      // Note: This has no effect on <select>s in some browsers, due to the limited stylability of `<select>`s in CSS.
      @include border-radius($input-border-radius, 0);

      @include box-shadow($input-box-shadow);
      @include transition($input-transition);

      // Unstyle the caret on `<select>`s in IE10+.
      &::-ms-expand {
        background-color: transparent;
        border: 0;
      }

      // Remove select outline from select box in FF
      &:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 $input-color;
      }

      // Customize the `:focus` state to imitate native WebKit styles.
      @include form-control-focus($ignore-warning: true);

      // Placeholder
      &::placeholder {
        color: $input-placeholder-color;
        // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
        opacity: 1;
      }

      // Disabled and read-only inputs
      //
      // HTML5 says that controls under a fieldset > legend:first-child won't be
      // disabled if the fieldset is disabled. Due to implementation difficulty, we
      // don't honor that edge case; we style them as disabled anyway.
      &:disabled,
      &[readonly] {
        background-color: $input-disabled-bg;
        // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655.
        opacity: 1;
      }
    }
  }
</style>
