<template>
  <section class="results">
    <Container>

      <div class="results__header">
        <h1 class="results__title">{{ $t('results.title') }}</h1>

        <div class="results__header__search">
          <BubbleSearch
            @toggleBubble="setToggleBubble"
            @inputSubmit="inputSubmit"/>
        </div>
      </div>

      <div class="results__main" :class="{'results__main--disabled' : toggleBubble}">
        <div class="results__info" v-if="totalCount">
          {{$t('results.resultInfoStart')}} <strong class='text-primary'>{{this.loadedValue}}</strong> {{$t('results.resultInfoEnd', {count: this.totalCount})}}
        </div>
        <div
          class="row mb-6 align-items-center"
          v-if="(!isLoading && doctors.length)  || (isLoading && filterSearch) || (isLoading && loadMore)">
          <div class="col-md-8">
            <span class="results__filter-info" v-html="$t('results.filterInfo')"></span>
          </div>
          <div class="col-md-4">
            <multiselect
                v-model="selectedRegion"
                @select="changeFilter"
                :searchable="false"
                :allow-empty="true"
                :options="Object.values(this.regions)"
                :selectedLabel="''"
                :selectLabel="''"
                :deselectLabel="''"
                :placeholder="'Vyberte kraj'">
                <template slot="singleLabel" slot-scope="{ option }">{{ option }}</template>
              </multiselect>
          </div>
        </div>

        <div class="row mb-6" v-if="!isLoading || (isLoading && loadMore)">
          <div
            v-for="(doctor, index) in doctors"
            :key="index"
            class="col-sm-6 col-md-4 col-lg-3 d-flex">
            <DoctorVerticalLocket
              :avatar="doctor.photo.url ? doctor.photo.url : require(`~/assets/img/default-avatar.png`)"
              :name="doctor.name"
              :info="doctor.specialization.join(', ')"
              :medicalCentre="doctor.medicalCentre"
              :docId="doctor.id" />
          </div>
        </div>
        <div class="m-auto" v-if="isLoading">
          <Loading/>
        </div>

        <div
          class="text-center mb-3"
          v-if="!isLoading && pagination.page < (pagination.totalCount / pagination.limit)">
          <Button :className="`btn-primary px-sm-7`" :onClick="loadMoreDoctors">
            {{ $t('results.moreResults') }}
          </Button>
        </div>

        <div
          class="text-center"
          v-if="!isLoading && doctors.length">
          <nuxt-link :to="localePath('cekarna-doctor-is-not-in-list')" class="text-underline btn btn-link text-danger">{{ $t('results.doctorNotInResults') }}</nuxt-link>
        </div>
      </div>

    </Container>
  </section>
</template>

<script>
  import Button from '~/components/Atoms/Button.vue'
  import NoResultInfo from '~/components/Atoms/NoResultInfo.vue'
  import Container from '~/components/Atoms/Container.vue'
  import BubbleSearch from '~/components/Molecules/BubbleSearch'
  import DoctorVerticalLocket from '~/components/Molecules/DoctorVerticalLocket.vue'
  import { mapActions } from 'vuex'
  import Loading from "~/components/Atoms/Loading";

  export default {
    name: "Results",
    components: {
      Loading,
      Button,
      NoResultInfo,
      Container,
      DoctorVerticalLocket,
      BubbleSearch
    },
    data() {
      return {
        toggleBubble: false,
        value: '',
        limit: 12,
        loadMore: false,
        filterSearch: false,
        loadedValue: '',
        filterValue: '',
        totalCount: '',
        selectedRegion: '',
        allRegions: this.$t('results.filterDefaultText')
      }
    },
    computed: {
      isLoading() {
        return this.$store.state.doctors.loading
      },
      isLoadingSearch() {
        return this.$store.state.bubbleSearch.loading
      },
      doctors() {
        return this.$store.state.doctors.doctors
      },
      doctorsSearch() {
        return this.$store.state.bubbleSearch.doctors
      },
      pagination() {
        return this.$store.state.doctors.pagination
      },
      paginationSearch() {
        return this.$store.state.bubbleSearch.pagination
      },
      filters() {
        return this.$store.state.doctors.filters
      },
      regions() {
        return Object.assign({[this.allRegions]: this.allRegions}, this.$store.state.doctors.filters.region);
      },
      searchedData() {
        return this.$state.state.doctors.searchedData
      }
    },
    methods: {
      async changeFilter (selected) {
        selected === this.allRegions ?  this.filterValue = '' : this.filterValue = selected
        this.filterSearch = true
        await this.loadDoctors(this.value, this.limit, 1)
        this.filterSearch = false
        return true
      },
      setToggleBubble (data) {
        this.toggleBubble = data
      },
      async loadDoctors(value, limit, page) {
        this.loadedValue = value
        await this.search({
          searchValue: value,
          limit: limit,
          page: page,
          filter: this.filterValue
        })
      },
      ...mapActions({
        search: 'doctors/search'
      }),
      async inputSubmit(val) {
        this.value = val
        this.filterValue = ''
        this.totalCount = ''
        this.selectedRegion = ''
        await this.loadDoctors(this.value, this.limit, 1)
        this.totalCount = this.pagination.totalCount
      },
      async loadMoreDoctors() {
        this.loadMore = true
        await this.loadDoctors(this.value, this.limit, parseInt(this.pagination.page)+1)
        this.loadMore = false
      }
    },
    async mounted() {
      this.value = this.$route.query.search
      await this.loadDoctors(this.value, this.limit, 1)
      this.totalCount = this.pagination.totalCount
    }
  }
</script>

<style lang="scss" scoped>
  @import "~assets/styles/common/variables";

  .results {
    padding-top: 2rem;
    padding-bottom: 2rem;

    @include media-breakpoint-up(md) {
      padding-top: 96px;
      padding-bottom: 96px;
    }

    &__title {
      font-size: 24px;
      line-height: 33px;
      color: $primary;
      text-align: center;
      margin-bottom: 49px;
    }

    &__header {
      max-width: 754px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 2rem;

      &__search {
        position: relative;
      }
    }

    &__main {
      border-top: 1px solid $gray-300;
      padding-top: 42px;
      position: relative;
      transition: opacity .2s ease;

      &--disabled {
        opacity: .6;
        pointer-events: none;
      }
    }

    &__info {
      font-size: 20px;
      text-align: center;
      margin-top: 24px;
      margin-bottom: 24px;
    }
  }
</style>
