<template>
  <section class="thank-you-partners">
    <Container class="container--lg thank-you-partners__container">
      <h2 class="thank-you-partners__title">{{ $t('partners.thankYouPartners') }}</h2>

      <div class="row">
        <div class="col-md-6">
          <h3 class="thank-you-partners__subtitle">{{ $t('partners.generalPartners') }}</h3>

          <ul class="thank-you-partners__list">
            <li class="thank-you-partners__list__item col-6 col-md-4 text-center">
              <img src="~/assets/img/partner-hartmann.png" srcset="~/assets/img/partner-hartmann@2x.png 2x" alt="">
            </li>
            <li class="thank-you-partners__list__item col-6 col-md-4 text-center">
              <img src="~/assets/img/partner-cs.png" srcset="~/assets/img/partner-cs@2x.png 2x" alt="">
            </li>
            <li class="thank-you-partners__list__item col-6 col-md-4 text-center">
              <img src="~/assets/img/partner-novartis.png" alt="">
            </li>
          </ul>

        </div>
        <div class="col-md-5 offset-md-1">
          <h3 class="thank-you-partners__subtitle">{{ $t('partners.specialSupport') }}</h3>

          <ul class="thank-you-partners__list">
            <li class="thank-you-partners__list__item col-6 col-md-4 text-center offset-md-1">
              <img src="~/assets/img/partner-lekarska-spol.png" srcset="~/assets/img/partner-lekarska-spol@2x.png 2x" alt="">
            </li>
            <li class="thank-you-partners__list__item col-6 col-md-5 text-center">
              <img src="~/assets/img/partner-mzcr.png" srcset="~/assets/img/partner-mzcr@2x.png 2x" alt="">
            </li>
          </ul>
        </div>
      </div>

      <h3 class="thank-you-partners__subtitle">{{ $t('partners.otherPartners') }}</h3>
      <ul class="thank-you-partners__list">
        <li class="thank-you-partners__list__item">
          <img src="~/assets/img/partner-aspen.png" srcset="~/assets/img/partner-aspen@2x.png 2x" alt="">
        </li>
        <li class="thank-you-partners__list__item">
          <img src="~/assets/img/partner-astrazeneca.png" srcset="~/assets/img/partner-astrazeneca@2x.png 2x" alt="">
        </li>
        <li class="thank-you-partners__list__item">
          <img src="~/assets/img/partner-ewo-pharma.png" srcset="~/assets/img/partner-ewo-pharma@2x.png 2x" alt="">
        </li>
        <li class="thank-you-partners__list__item">
          <img src="~/assets/img/partner-lilly.png" srcset="~/assets/img/partner-lilly@2x.png 2x" alt="">
        </li>
        <li class="thank-you-partners__list__item">
          <img src="~/assets/img/partner-abbvie.png" srcset="~/assets/img/partner-abbvie@2x.png 2x" alt="">
        </li>
        <li class="thank-you-partners__list__item">
          <img src="~/assets/img/partner-glenmark.png" srcset="~/assets/img/partner-glenmark@2x.png 2x" alt="">
        </li>
      </ul>
    </Container>
  </section>
</template>

<script>
  import Container from '~/components/Atoms/Container.vue'

  export default {
    name: "ThankYouPartners",
    components: {
      Container
    }
  }
</script>

<style lang="scss" scoped>
  @import "~assets/styles/common/variables";

  .thank-you-partners {
    padding-top: 80px;
    padding-bottom: 56px;
    background: $white;

    &__title {
      text-align: center;
      color: $primary;
      margin-bottom: 90px;
    }
    &__subtitle {
      font-size: 14px;
      line-height: 19px;
      letter-spacing: 0.05em;
      color: $primary;
      text-transform: uppercase;
      margin-bottom: 2rem;
      text-align: center;
    }

    &__container {
      border-bottom: solid 1px $gray-300;
      padding-bottom: 56px;
    }

    &__list {
      padding-left: 0;
      list-style: none;
      margin-bottom: 2rem;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-items: center;
      justify-content: center;
      @include media-breakpoint-up(lg) {
        justify-content: space-between;
      }

      &__item {
        padding-left: 1rem;
        padding-right: 1rem;
        margin-bottom: 2rem;
      }
    }
  }
</style>
