<template>
  <section class="white-section">
    <Container class="container--md">
      <h3 class="white-section__title">{{ title }}</h3>
      <InfoList :items="infoListItems" />
    </Container>
  </section>
</template>
<script>
  import Container from '~/components/Atoms/Container.vue'
  import InfoList from '~/components/Molecules/InfoList.vue'

  export default {
    name: "WhiteSection",
    components: {
      Container,
      InfoList
    },
    props: {
      title: {
        type: String,
        required: false
      },
      infoListItems: {
        type: Array,
        required: true
      },
    }
  }
</script>

<style lang="scss" scoped>
  @import "~assets/styles/common/variables";

  .white-section {
    background: $white;
    padding-top: 40px;
    padding-bottom: 40px;

    @include media-breakpoint-up(md) {
      padding-top: 94px;
      padding-bottom: 94px;
    }

    &__title {
      font-size: 24px;
      color: $primary;
      text-align: center;

      margin-bottom: 40px;
      @include media-breakpoint-up(md) {
        margin-bottom: 83px;
      }
    }
  }
</style>
