@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "common/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/dropdown";

@import "~bootstrap/scss/utilities/display";
@import "~bootstrap/scss/utilities/spacing";
@import "~bootstrap/scss/utilities/text";
@import "~bootstrap/scss/utilities/flex";
@import "~bootstrap/scss/utilities/borders";

@import "./components/custom-checkbox";
@import "./components/vue-multiselect";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  @include img-fluid();
}

.text-underline {
  text-decoration: underline;
}

label {
  font-weight: $font-weight-bold;
  color: #525055;
  margin-bottom: .2rem;
}

.text-md {
  font-size: 0.9375rem; // 15px
}

.text-md-plus {
  font-size: 1.063rem; // 17px
}
