<template>
  <div class="bubble-search">
    <InputSearch
      :placeholder="$t('findDoctor.placeholder')"
      ref="searchResultInput"
      :inputValue="debounceInput"
      :inputFocus="inputFocus"
      @inputSubmit="(val) => $emit('inputSubmit', val)"/>
    <BubbleResult
      :showBubble="toggleBubble"
      :searchValue="value"
      @inputSubmit="$emit('inputSubmit', value)"/>
  </div>
</template>

<script>
  import debounce from "lodash/debounce"
  import BubbleResult from '~/components/Molecules/BubbleResult.vue'
  import InputSearch from '~/components/Atoms/InputSearch.vue'
  import { mapActions } from 'vuex'

  export default {
    name: "BubbleSearch",
    components: {
      BubbleResult,
      InputSearch
    },
    data() {
      return {
        value: '',
        showResult: false,
        inputIsFocused: false,
        limit: 3
      }
    },
    computed: {
      toggleBubble () {
        if (this.value.length > 2 && this.inputIsFocused == true){
          this.$emit('toggleBubble', true)
          return true
        }
        this.$emit('toggleBubble', false)
        return false
      }
    },
    methods: {
      debounceInput: debounce(function (e) {
        this.value = e.target.value
        this.search({
          searchValue: this.value,
          limit: this.limit,
          page: 1,
        })
      }, 300),
      inputFocus (e) {
        setTimeout(() => {
          e.type === 'focus' ? this.inputIsFocused = true : this.inputIsFocused = false
          if (this.inputIsFocused) {
            this.search({
              searchValue: this.value,
              limit: this.limit,
              page: 1,
            })
          }
        }, 450)
      },
      ...mapActions({
        search: 'bubbleSearch/search'
      })
    },
    watch: {
		  value() {
        this.$emit('changeValue', this.value)
      }
    },
    mounted() {
		  if (typeof this.$route.query.search != 'undefined'){
        this.search({
          searchValue: this.$route.query.search,
          limit: this.limit,
          page: 1,
        })
        this.value = this.$route.query.search
        this.$refs.searchResultInput.$data.inputValueModel = this.value
      }

    }
	}
</script>
