<template>
  <div class="bubble-result" :class="[{'is-visible' : showBubble}, {'is-focus' : focusBubble}]" @mouseover="focusBubble = true" @mouseleave="focusBubble = false">

    <div class="bubble-result__loading" v-if="isLoading">
      <Loading />
    </div>
    <div class="bubble-result__loading" v-else-if="!doctors.length">
      <NoResultInfo :searchValue="searchValue" :perex="$t('results.noResultInfoPerex')"  />
    </div>
    <ul class="bubble-result__list" v-else>
      <li
        class="bubble-result__list__item"
        v-for="(doctor, index) in doctors" :key="index">
        <DoctorLocket
          :avatar="doctor.photo.url?doctor.photo.url:''"
          :name="doctor.name"
          :info="doctor.specialization.join(', ')"
          :medicalCentre="doctor.medicalCentre"
          :docId="doctor.id" />
      </li>
    </ul>

    <div class="bubble-result__footer" v-if="doctors.length">
      <button
        v-if="$nuxt.$route.name.indexOf('search-result') != -1"
        @click="clickInputSubmit"
        class="btn btn-primary">
        {{$t('results.showAll', {totalCount: this.pagination.totalCount})}}
      </button>
      <nuxt-link
        v-else
        :to="localePath({ name: 'cekarna-search-result', query: { search: searchValue } })"
        class="btn btn-primary">
        {{$t('results.showAll', {totalCount: this.pagination.totalCount})}}
      </nuxt-link>
      <nuxt-link :to="localePath('cekarna-doctor-is-not-in-list')" class="btn btn-link text-danger">
        {{ $t('results.doctorNotInResults') }}
      </nuxt-link>
    </div>
  </div>
</template>

<script>
  import Loading from '~/components/Atoms/Loading.vue'
  import DoctorLocket from '~/components/Molecules/DoctorLocket.vue'
  import NoResultInfo from '~/components/Atoms/NoResultInfo.vue'
  import Button from "~/components/Atoms/Button";

  export default {
    name: "BubbleResult",
    data () {
      return {
        focusBubble: false
      }
    },
    props: {
      showBubble: {
        type: Boolean,
        required: true
      },
      searchValue: {
        type: String,
        // required: true
      },
    },
    components: {
      Button,
      Loading,
      DoctorLocket,
      NoResultInfo
    },
    computed: {
      isLoading() {
        return this.$store.state.bubbleSearch.loading
      },
      doctors() {
        return this.$store.state.bubbleSearch.doctors.length > 3 ? this.$store.state.bubbleSearch.doctors.slice(0,3) : this.$store.state.bubbleSearch.doctors
      },
      pagination() {
        return this.$store.state.bubbleSearch.pagination
      }
    },
    methods: {
      clickInputSubmit () {
        this.$emit('inputSubmit')
        this.focusBubble = false
      }
    }
    // updated () {
    //   this.focusBubble = false
    // }
  }
</script>

<style lang="scss" scoped>
  @import "~assets/styles/common/variables";
  $result-input-height-lg: add($input-line-height-lg * 1em, add($input-padding-y-lg * 2, $input-height-border + 15px, false));

  .bubble-result {
    position: absolute;
    left: 0;
    top: $result-input-height-lg;
    right: 0;
    z-index: $zindex-popover;
    background: $white;
    border-radius: 4px;
    box-shadow: 0px 5px 9px rgba(227, 227, 227, 0.7);
    @include media-breakpoint-up(md) {
      box-shadow: 0px 5px 9px rgba(227, 227, 227, 0.25);
    }

    &:not(.is-visible):not(.is-focus) {
      display: none;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 40px;
      bottom: 100%;
      border-style: solid;
      border-width: 0 10px 10px 10px;
      border-color: transparent transparent $white transparent;
    }

    &__list {
      padding-left: 0;
      list-style: none;
      margin-top: .5rem;
      margin-bottom: 0;

      &__item {
        background-color: transparent;
        transition: background-color .2s linear;

        &:hover {
          background-color: $cyan-light;
        }
      }
    }

    &__footer {
      padding-top: 30px;
      padding-bottom: 30px;
      text-align: center;

      @include media-breakpoint-up(sm) {
        padding-left: 30px;
        padding-right: 30px;
      }
      @include media-breakpoint-up(md) {
        display: flex;
        justify-content: space-between;
      }
    }

    @include media-breakpoint-up(md) {
      .hello & {
        min-width: 750px;
      }
    }
  }
</style>
