<template>
  <ul class="contact-list">
    <slot />
  </ul>
</template>

<script>
  export default {
    name: "ContactList"
  }
</script>

<style lang="scss" scoped>
  @import "~assets/styles/common/variables";

  .contact-list {
    list-style: none;
    padding-left: 0;

    > li {
      display: flex;
      margin-top: 1rem;

      svg[data-icon] {
        color: $primary;
        margin-top: 4px;
        margin-right: 21px;
      }
    }

    > li:first-child {
      display: flex;
      margin-top: 0;
    }
  }
</style>
