<template>
  <div class="cookie-policy" v-if="showCookiePolicy">
    {{ $t('cookiePolicy.message') }}

    <div class="cookie-policy__action mt-2 mt-lg-0">
      <Button className="btn-light btn-sm px-3 cookie-policy__btn" :onClick="agreeAction">
      {{ $t('cookiePolicy.agree') }}
      </Button>

      <nuxt-link :to="localePath('cookies')" class="cookie-policy__link" target="_blank">{{ $t('cookiePolicy.moreInfo') }}</nuxt-link>
    </div>
  </div>
</template>

<script>
  import Cookies from 'js-cookie'
  import Button from '~/components/Atoms/Button.vue'

  export default {
    name: "CookiePolicy",
    data() {
      return {
        cookieName: "CookiePolicy",
        showCookiePolicy: false
      }
    },
    components: {
      Button
    },
    methods: {
      agreeAction() {
        Cookies.set(this.cookieName, 'true', { expires: 365 })
        this.showCookiePolicy = false
      }
    },
    mounted() {
      Cookies.get(this.cookieName) === undefined || Cookies.get(this.cookieName) === null ? this.showCookiePolicy = true : this.showCookiePolicy = false
    }
  }
</script>

<style lang="scss" scoped>
  @import "~assets/styles/common/variables";

  .cookie-policy {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: $zindex-tooltip;
    display: block;
    padding: .5rem 1rem;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    background: $primary;
    color: $white;

    @include media-breakpoint-up(md) {
      display: flex;
      align-items: center;
      justify-content: center;

      &__btn {
        margin-left: 2rem;
      }
    }

    &__action {
      white-space: nowrap;
    }

    &__link {
      color: $white;
      text-decoration: underline;
      margin-left: 1rem;
    }
  }
</style>
