<template>
  <div class="doctor-info-box">
    <div class="row">
      <div
        class="col-md-3 d-none d-sm-block"
        :class="hasOfficeHours? 'col-xl-2' : ''">
        <Avatar
          :avatar="doctorDetail.photo.url ? doctorDetail.photo.url : require(`~/assets/img/default-avatar.png`)"
          :altDescription="doctorDetail.photo.name"
          class="avatar--lg avatar--rounded" />
      </div>
      <div class="col-md-9"
           :class="hasOfficeHours? 'col-xl-10' : ''">
        <div class="mb-5">
          <h2 class="doctor-info-box__name">{{doctorDetail.doctorName}}</h2>
          <p>{{doctorDetail.specialization.join(', ')}}</p>
        </div>

        <div class="row">
          <div :class="hasOfficeHours? 'col-lg-6' : 'col-lg-12'">

            <div class="mb-5" v-if="!!doctorDetail.branch && doctorDetail.branch.length > 1">
              <label for="doctorBranchSelect" class="offset-label-top">{{ $t('doctorDetail.surgery') }}</label>

              <multiselect
                id="doctorBranchSelect"
                v-model="localSelectedBranchValue"
                label="name"
                :searchable="false"
                :allow-empty="false"
                :preselect-first="true"
                :options="doctorDetail.branch"
                :selectedLabel="''"
                :selectLabel="''"
                :deselectLabel="''"
                :placeholder="''">
                <template slot="singleLabel" slot-scope="{ option }">{{ option.name }}</template>
              </multiselect>
            </div>

            <ContactList class="mb-5" v-if="selectedBranchValue">
              <li
                v-if="!!selectedBranchValue.contacts.phones"
                v-for="(phone, index) in selectedBranchValue.contacts.phones"
                :key="'phone'+index">
                <template v-if="!!phone.number">
                  <font-awesome-icon icon="phone" class="text-primary" /> {{phone.prefix}} {{phone.number.toString().match(/.{1,3}/g).join(' ')}}
                </template>
              </li>
              <li
                v-if="!!selectedBranchValue.contacts.otherContact"
                v-for="(otherContact, index) in selectedBranchValue.contacts.otherContact"
                :key="index">
                <template v-if="!!otherContact.value">
                  <font-awesome-icon :icon="otherContact.key == 'url'?'globe':'envelope'" />
                  <ExternalLink
                    v-if="otherContact.key == 'url'"
                    :title="otherContact.value | cleanHostname"
                    :href="otherContact.value" />
                  <EmailLink
                    v-if="otherContact.key == 'email'"
                    :email="otherContact.value"/>
                </template>
              </li>
              <li v-if="!!selectedBranchValue.address.streetName || !!selectedBranchValue.address.city">
                <font-awesome-icon icon="map-marker-alt" />
                <template v-if="!!selectedBranchValue.address.streetName">
                  {{selectedBranchValue.address.streetName + (selectedBranchValue.address.streetNumber?' '+selectedBranchValue.address.streetNumber:'')}}
                  <br/>
                </template>
                <template v-if="!!selectedBranchValue.address.city">
                  {{selectedBranchValue.address.city + ' ' + selectedBranchValue.address.zip}}
                </template>
              </li>
            </ContactList>
          </div>
          <div class="col-lg-6"  v-if="hasOfficeHours">

            <div class="border rounded p-4" v-if="selectedBranchValue !== null && !!selectedBranchValue.officeHours && selectedBranchValue.officeHours.length">
              <div
                class="doctor-info-box__open"
                :class="[index == selectedBranchValue.officeHours.length - 1 ? '' : 'mb-1']"
                v-for="(officeHour, index) in selectedBranchValue.officeHours"
                :key="index">
                <div class="doctor-info-box__open__day">
                  <strong class="text-primary">
                    {{dayName[officeHour.day - 1]}}
                  </strong>
                </div>
                <div class="doctor-info-box__open__hours">
                  <template
                    v-for="time in officeHour.time">
                    <span class="mr-4 d-inline-block">{{time.from.hour + '.' + time.from.minute + ' - ' + time.to.hour + '.' + time.to.minute}}</span>
                  </template>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Avatar from '~/components/Atoms/Avatar.vue'
  import ExternalLink from '~/components/Atoms/ExternalLink.vue'
  import EmailLink from '~/components/Atoms/EmailLink.vue'
  import ContactList from '~/components/Molecules/ContactList.vue'
  import { mapMutations } from 'vuex'

  export default {
    name: "DoctorInfoBox",
    data () {
      return {
        loading: true,
        dayName: [
          this.$t('days.monday'),
          this.$t('days.tuesday'),
          this.$t('days.wednesday'),
          this.$t('days.thursday'),
          this.$t('days.friday'),
          this.$t('days.saturday'),
          this.$t('days.sunday'),
        ],
        localSelectedBranchValue: null
      }
    },
    props: {
      doctorDetail: {
        type: Object,
        required: true
      }
    },
    components: {
      Avatar,
      ContactList,
      ExternalLink,
      EmailLink
    },
    computed: {
      hasOfficeHours () {
        let self = this
        let hasOfficeHours = false
        Object.keys(this.doctorDetail.branch).forEach(function(key) {
          if (self.doctorDetail.branch[key] !== null && !!self.doctorDetail.branch[key].officeHours && self.doctorDetail.branch[key].officeHours.length){
            hasOfficeHours = true
          }
        });
        return hasOfficeHours
      },
      selectedBranchValue() {
        return this.$store.state.question.selectedBranchValue
      },
    },
    methods: {
      ...mapMutations({
        setSelectedBranchValue: 'question/setSelectedBranchValue'
      })
    },
    mounted() {
      if (!!this.doctorDetail.branch[0])
        this.localSelectedBranchValue = this.doctorDetail.branch[0]
    },
    watch: {
      localSelectedBranchValue(value) {
        this.setSelectedBranchValue(value)
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import "~assets/styles/common/variables";

  .doctor-info-box {

    &__name {
      font-size: 24px;
      color: $primary;
      margin-bottom: 4px;
    }

    @include media-breakpoint-up(md) {
      .offset-label-top {
        margin-top: -25px;
        display: block;
      }
    }

    &__open {
      display: flex;
      flex-direction: row;

      &__day {
        max-width: 30px;
        flex: 0 0 30px;
      }
    }
  }
</style>
