<template>
  <div class="doctor-vertical-locket">

    <div class="doctor-vertical-locket__figure">
      <Avatar :avatar="avatar" class="avatar--md" />
    </div>

    <div class="doctor-vertical-locket__info">
      <h5 class="doctor-vertical-locket__name">
        <nuxt-link :to="localePath({ name: 'cekarna-doctor-id', params: { id: docId } })">
          {{ name }}
        </nuxt-link>
      </h5>
      {{ info }}
    </div>

    <div class="doctor-vertical-locket__address">
      <MarkerAddress :address="address" v-if="address.length" />
    </div>

    <div class="doctor-vertical-locket__action">
      <nuxt-link :to="localePath({ name: 'cekarna-doctor-id', params: { id: docId } })" class="doctor-vertical-locket__btn btn btn-primary btn-sm">{{ $t('choose') }}</nuxt-link>
    </div>

  </div>
</template>

<script>
  import MarkerAddress from '~/components/Atoms/MarkerAddress.vue'
  import Avatar from '~/components/Atoms/Avatar.vue'

  export default {
    name: "DoctorVerticalLocket",
    props: {
      avatar: {
        type: String,
        required: true
      },
      name: {
        type: String,
        required: true
      },
      info: {
        type: String,
        required: true
      },
      medicalCentre: {
        type: Array,
        required: true
      },
      docId: {
        type: Number,
        required: true
      },
    },
    components: {
      MarkerAddress,
      Avatar
    },
    computed: {
      address() {
        let address = ''
        if (this.medicalCentre.length > 1){
          return this.$t('multipleOrdinations')
        }else{
          if (this.medicalCentre.length) {
            if (this.medicalCentre[0].address.streetName && this.medicalCentre[0].address.streetName.length){
              address += this.medicalCentre[0].address.streetName
              if (this.medicalCentre[0].address.streetNumber && this.medicalCentre[0].address.streetNumber.length){
                address += ' '+this.medicalCentre[0].address.streetNumber
              }
              address += ', '
            }
            if (this.medicalCentre[0].address.city && this.medicalCentre[0].address.city.length)
              address += this.medicalCentre[0].address.city
          }
        }
        return address
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import "~assets/styles/common/variables";

  $d-spacer:           24px !default;

  .doctor-vertical-locket {
    $this: &;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    padding: 1.5rem;
    margin-bottom: $grid-gutter-width;
    background: $white;
    box-shadow: 0 5px 9px rgba(227, 227, 227, 0.25);
    transition: box-shadow .3s ease;
    border-radius: 8px;
    text-align: center;
    position: relative;
    width: 100%;

    &:hover {
      box-shadow: 0 5px 15px rgba(120, 120, 120, 0.25);
    }

    @include media-breakpoint-up(md) {
      padding: 30px;
    }

    &__figure {
      margin-bottom: 24px;
    }

    &__info {
      margin-bottom: 32px;
      flex: 1 1 auto;
    }

    &__address {
      margin-bottom: 26px;
    }

    &__name {
      font-size: 15px;
      display: block;
      margin-bottom: .1rem;

      > a {
        color: $gray-600;

        &:after {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          z-index: 1;
        }
      }
    }

    &__btn {
      position: relative;
      z-index: 2;
    }
  }
</style>
