<template>
  <div class="doctor-locket">

    <div class="doctor-locket__main">
      <div class="doctor-locket__figure">
        <Avatar :avatar="avatar" />
      </div>

      <div class="doctor-locket__info">
        <div class="doctor-locket__info__doc">
          <h5 class="doctor-locket__name">
            <nuxt-link :to="localePath({ name: 'cekarna-doctor-id', params: { id: docId } })">
              {{ name }}
            </nuxt-link>
          </h5>
          {{ info }}
        </div>
        <MarkerAddress :address="address" v-if="address.length"/>
      </div>
    </div>

    <div class="doctor-locket__action">
      <nuxt-link :to="localePath({ name: 'cekarna-doctor-id', params: { id: docId } })" class="btn btn-primary btn-sm">{{ $t('choose') }}</nuxt-link>
    </div>
  </div>
</template>

<script>
  import MarkerAddress from '~/components/Atoms/MarkerAddress.vue'
  import Avatar from '~/components/Atoms/Avatar.vue'

  export default {
    name: "DoctorLocket",
    props: {
      avatar: {
        type: String,
        required: true
      },
      name: {
        type: String,
        required: true
      },
      info: {
        type: String,
        required: true
      },
      medicalCentre: {
        type: Array,
        required: true
      },
      docId: {
        type: Number,
        required: true
      },
    },
    components: {
      MarkerAddress,
      Avatar
    },
    computed: {
      address() {
        let address = ''
        if (this.medicalCentre.length > 1){
          return this.$t('multipleOrdinations')
        }else{
          if (this.medicalCentre.length) {
            if (this.medicalCentre[0].address.streetName && this.medicalCentre[0].address.streetName.length){
              address += this.medicalCentre[0].address.streetName
              if (this.medicalCentre[0].address.streetNumber && this.medicalCentre[0].address.streetNumber.length){
                address += ' '+this.medicalCentre[0].address.streetNumber
              }
              address += ', '
            }
            if (this.medicalCentre[0].address.city && this.medicalCentre[0].address.city.length)
              address += this.medicalCentre[0].address.city
          }
        }
        return address
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import "~assets/styles/common/variables";

  $d-spacer:           24px !default;

  .doctor-locket {
    $this: &;
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 1.5rem;
    position: relative;

    border-bottom: 1px solid $gray-300;

    @include media-breakpoint-up(md) {
      padding: 30px 0;
      margin-left: 30px;
      margin-right: 30px;
    }

    &__main {
      display: flex;
      width: 100%;
    }

    &__figure {
      @include media-breakpoint-down(sm) {
        display: none;
      }
      flex: 0 1 auto;
    }

    &__info {
      flex: 1 1 auto;
      @include media-breakpoint-up(md) {
        padding-left: $d-spacer;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .marker-adress {
          width: 200px;
        }
      }
    }

    &__action {

      @include media-breakpoint-down(sm) {
        flex: 0 1 auto;
        padding-left: .5rem;
      }
      @include media-breakpoint-up(md) {
        padding-left: $d-spacer;
        opacity: 0;
        transition: opacity .4s linear;
      }

      .btn {
        position: relative;
        z-index: 2;
      }
    }

    &__name {
      font-size: 15px;
      display: block;
      margin-bottom: .1rem;

      > a {
        color: $gray-600;

        &:after {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          z-index: 1;
        }
      }
    }

    &:hover {
      #{$this}__action {
        opacity: 1;
      }
    }
  }
</style>
