<template>
  <div class="dot-info">
    <div class="dot-info__figure">
      <img :src="require(`~/assets/img/${figure}`)" alt="">
    </div>
    <h3 class="dot-info__title">{{ title }}</h3>
    <div class="dot-info__perex" :inner-html.prop="perex | wrapLines"></div>
  </div>
</template>

<script>
  export default {
    name: "DotInfo",
    props: {
      figure: {
        type: String,
        required: true
      },
      title: {
        type: String,
        required: true
      },
      perex: {
        type: String,
        required: true
      },
    },
  }
</script>

<style lang="scss" scoped>
  @import "~assets/styles/common/variables";

  .dot-info {
    text-align: center;
    margin-bottom: 60px;

    @include media-breakpoint-up(sm) {
      padding-left: 30px;
      padding-right: 30px;
      margin-bottom: 30px;
    }
    @include media-breakpoint-up(lg) {
      padding-left: 50px;
      padding-right: 50px;
      margin-bottom: 50px;
    }

    &__figure {
      margin-bottom: 2rem;
    }

    &__title {
      font-size: 18px;
      margin-bottom: 24px;
      color: $primary;
    }

    &__perex {
      line-height: 22px;
    }
  }
</style>
