<template>
  <div id="dragAndDrop">
    <div v-if="!errorsLength">
      <div class="mb-3">{{$t('fileUpload.acceptedTypes')}}</div>
      <form enctype="multipart/form-data" novalidate>
        <div class="dropbox">
          <input type="file" multiple name="file" @change="filesChange($event.target.name, $event.target.files)" class="input-file">
            {{ $t('fileUpload.initial') }}
        </div>
      </form>
    </div>
    <div v-else>
      <div v-for="error in errors.filter((value, index, self) => self.indexOf(value) === index)">{{error}}</div>
      <div class="mt-3">
        <a href="#" class="btn btn-primary px-6" @click.prevent="errors=[]">{{$t('fileUpload.uploadAgain')}}</a>
      </div>
    </div>
  </div>
</template>

<script>
  import { mapMutations } from 'vuex'

  export default {
    name: 'dragAndDrop',
    data() {
      return {
        errors: []
      }
    },
    methods: {
      filesChange(fieldName, fileList) {
        let self = this
        const allowedTypes = [
          'application/pdf',
          'audio/mp3',
          'audio/mpeg3',
          'audio/x-mpeg-3',
          'image/heic',
          'image/heic-sequence',
          'image/heif',
          'image/heif-sequence',
          'image/jpeg',
          'image/jpg',
          'image/png',
          'text/plain',
          'video/avi',
          'video/mp4',
          'video/mpeg',
          'video/quicktime',
          'video/x-mpeg'
        ]

        //TODO check max files.length
        if (!fileList.length) return;

        Array
          .from(Array(fileList.length).keys())
          .map(x => {
            let skip = 0;
            if (allowedTypes.indexOf(fileList[x].type) == -1 ){
              this.errors.push(this.$t('fileUpload.typeError'))
              skip = 1
            }

            if (fileList[x].size > 2000000) {
              this.errors.push(this.$t('fileUpload.sizeError'))
              skip = 1
            }

            if (!skip) {
              let reader = new FileReader();

              reader.onload = function (e) {
                self.addAttachment({
                  fileName: fileList[x].name,
                  file: e.target.result,
                  mimeType: fileList[x].type
                })
              }

              reader.readAsDataURL(fileList[x]);
            }
          })

        if (!Object.keys(this.errors).length){
          this.$emit('filesUploaded')
        }
      },
      ...mapMutations({
        addAttachment: 'question/addAttachment'
      })
    },
    computed: {
      errorsLength () {
        return Object.keys(this.errors).length
      }
    },
  }
</script>

<style lang="scss" scoped>
  @import "~assets/styles/common/variables";
  .dropbox {
    outline: 2px dashed $gray-500;
    outline-offset: -10px;
    background: $cyan-light;
    color: $gray-700;
    padding: 20px;
    min-height: 200px;
    position: relative;
    cursor: pointer;

    &:hover {
      background: darken($cyan-light, 5%);
    }
  }

  .input-file {
    opacity: 0;
    width: 100%;
    height: 200px;
    position: absolute;
    cursor: pointer;
  }

  .dropbox p {
    font-size: 1.2em;
    text-align: center;
    padding: 50px 0;
  }
</style>
