<template>
  <div>
    <ul class="file-list" v-if="attachments.length">
      <li
        v-for="(attachment, index) in attachments"
        :key="index"
        class="file-list__item"
        data-type="image"
        v-if="attachment.mimeType.indexOf('image') != -1">
        <img :src="attachment.file" :title="attachment.fileName" :alt="attachment.fileName">
        <span class="file-list__name">{{ attachment.fileName }}</span>
        <span class="file-list__remove" @click="deleteAttachment(index)" aria-label="delete" role="button">
          <font-awesome-icon icon="times-circle" class="text-danger" />
        </span>
      </li>
    </ul>
    <ul class="file-list" v-if="attachments.length">
      <li
        v-for="(attachment, index) in attachments"
        :key="index"
        class="file-list__item"
        data-type="file"
        v-if="attachment.mimeType.indexOf('image') == -1">
        <font-awesome-icon icon="paperclip" class="text-primary mr-3" />
        <span class="file-list__name">{{ attachment.fileName }}</span>
        <span class="file-list__remove" @click="deleteAttachment(index)" aria-label="delete" role="button">
          <font-awesome-icon icon="times-circle" class="text-danger ml-2" />
        </span>
      </li>
    </ul>
  </div>
</template>

<script>
  import { mapMutations } from 'vuex'

  export default {
    name: "FileList",
    computed: {
      attachments() {
        return this.$store.state.question.attachments
      },
    },
    methods: {
      ...mapMutations({
        deleteAttachment: 'question/deleteAttachment'
      })
    }
  }
</script>

<style lang="scss" scoped>
  @import "~assets/styles/common/variables";
  @import "~object-fit-images/preprocessors/mixin.scss";

  $file-grid-spacer:        15px !default;

  .file-list {
    $this: &;
    @include list-unstyled;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-bottom: 1.25rem;
    margin-left: -$file-grid-spacer;
    margin-right: -$file-grid-spacer;

    &__item {
      margin-left: $file-grid-spacer;
      margin-right: $file-grid-spacer;
      margin-bottom: 1.25rem;

      &[data-type="image"] {
        position: relative;
        width: 156px;
        height: 156px;
        border-radius: 8px;
        overflow: hidden;

        > img {
          display: block;
          width: 100%;
          height: 100%;
          @include object-fit(cover, center);
        }

        #{$this}__name {
          display: none;
        }

        #{$this}__remove {
          position: absolute;
          right: 10px;
          top: 10px;
          border-radius: 8px;
          background: $white;
          width: 30px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          border: solid 1px $gray-200;
        }
      }

      &[data-type="file"] {
        display: flex;
        align-items: center;
        font-size: 15px;
        text-decoration: underline;
      }
    }

    &__remove {
      cursor: pointer;
      font-size: 13px;
    }
  }
</style>
