<template>
  <header class="header">
    <Container class="header__container">

      <div class="header__brand">
        <logo />
      </div>

    </Container>
  </header>
</template>

<script>
  import Container from '~/components/Atoms/Container.vue'
  import Logo from '~/components/Atoms/Logo.vue'

  export default {
    name: "HeaderDefault",
    components: {
      Container,
      Logo
    }
  }
</script>

<style lang="scss" scoped>
  @import "~assets/styles/common/variables";

  .header {
    display: flex;
    align-items: center;
    background: $white;
    box-shadow: 0px 5px 9px rgba(227, 227, 227, 0.25);
    height: 80px;
    @include media-breakpoint-down(md) {
      position: sticky;
      top: 0;
      z-index: $zindex-sticky;
    }
    @include media-breakpoint-up(lg) {
      height: 100px;
    }

    &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: $grid-gutter-width/2;
      padding-right: $grid-gutter-width/2;
    }

    &__brand {
      display: flex;
      align-items: center;
      @include media-breakpoint-down(md) {
        position: relative;
        z-index: $zindex-fixed + 1;
      }
    }

  }
</style>
