<template>
  <header class="header">
    <Container class="header__container">

      <div class="header__brand">
        <logo link="rs-asistent"/>
      </div>

      <div class="header__partner">
        <span class="header__info">
          {{ $t('rsAssistant.projectPartner') }}
        </span>
        <img src="~/assets/img/partner-novartis.png" alt="Novartis" srcset="~/assets/img/partner-novartis-header.png 1x, ~/assets/img/partner-novartis-header@2x.png 2x">
      </div>

    </Container>
  </header>
</template>

<script>
  import Container from '~/components/Atoms/Container.vue'
  import Logo from '~/components/Atoms/Logo.vue'

  export default {
    name: "HeaderRsAssistant",
    components: {
      Container,
      Logo,
    },
    data () {
      return {
        mobileMenuIsOpen: false
      }
    },
  }
</script>

<style lang="scss" scoped>
  @import "~assets/styles/common/variables";

  .header {
    display: flex;
    align-items: center;
    background: $white;
    box-shadow: 0px 5px 9px rgba(227, 227, 227, 0.25);
    height: 80px;
    z-index: $zindex-sticky;
    @include media-breakpoint-up(lg) {
      position: relative;
      height: 100px;
    }

    &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: $grid-gutter-width/2;
      padding-right: $grid-gutter-width/2;
    }

    &__brand {
      display: flex;
      align-items: center;
      @include media-breakpoint-down(md) {
        position: relative;
        z-index: $zindex-fixed + 1;
      }
    }

    &__partner {
      display: flex;
      align-items: center;
      @include media-breakpoint-down(md) {
        display: none;
      }
    }

    &__info {
      font-size: 15px;
      color: #62717B;
      margin-right: 1rem;
      margin-top: 5px;
    }
  }
</style>
