<template>
  <header class="header">
    <Container class="header__container">

      <div class="header__brand">
        <logo />
        <span class="header__slogan d-none d-md-inline-block">{{ $t('appName') }}</span>
      </div>
      <Hamburger :menuIsOpen="mobileMenuIsOpen" :toggleClick="toggleMobileMenu" />
      <nav class="header__nav" v-bind:class="{ 'is-open': mobileMenuIsOpen }" id="mobile-navbar-collapse" @click="closeMobileMenu">
        <Button :className="`btn-link mb-3 mb-lg-0`" :onClick="()=>goToScrollId('#how-it-works')">{{ $t('howItWorks.title') }}</Button>
        <ExternalLink :title="$t('proLekare.title')" :href="$t('proLekare.link')" class="btn btn-outline-primary mb-4 mb-lg-0" />
        <Button :className="`btn-primary ml-lg-3`" :onClick="()=>goToScrollId('#contact-doctor')">
          {{ $t('findDoctor.btnLink') }}
        </Button>
      </nav>

    </Container>
  </header>
</template>

<script>
  import Hamburger from '~/components/Atoms/Hamburger.vue'
  import ExternalLink from '~/components/Atoms/ExternalLink.vue'
  import Container from '~/components/Atoms/Container.vue'
  import Logo from '~/components/Atoms/Logo.vue'
  import Button from '~/components/Atoms/Button.vue'

  export default {
    name: "HeaderWaitingRoom",
    components: {
      Hamburger,
      ExternalLink,
      Container,
      Logo,
      Button
    },
    data () {
      return {
        mobileMenuIsOpen: false
      }
    },
    methods: {
      goToScrollId ( targetId ) {
        let routeIndex = this.$route.path

        if ( routeIndex == this.localePath('cekarna') ) {
          this.$scrollTo(targetId);
        } else {
          const homeLink = this.localePath('cekarna');
          this.$router.push({ path: homeLink, hash: targetId })
        }
      },
      toggleMobileMenu () {
        this.mobileMenuIsOpen = !this.mobileMenuIsOpen
      },
      closeMobileMenu () {
        setTimeout(() => {
          this.mobileMenuIsOpen = false
        }, 200);
      }
    },
    watch: {
      mobileMenuIsOpen (val) {
        val === false ? document.documentElement.classList.remove('menu-is-open') : document.documentElement.classList.add('menu-is-open')
      },
    }
  }
</script>

<style lang="scss" scoped>
  @import "~assets/styles/common/variables";

  .header {
    display: flex;
    align-items: center;
    background: $white;
    box-shadow: 0px 5px 9px rgba(227, 227, 227, 0.25);
    height: 80px;
    @include media-breakpoint-down(md) {
      position: sticky;
      top: 0;
      z-index: $zindex-sticky;
    }
    @include media-breakpoint-up(lg) {
      height: 100px;
    }

    &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: $grid-gutter-width/2;
      padding-right: $grid-gutter-width/2;
    }

    &__brand {
      display: flex;
      align-items: center;
      @include media-breakpoint-down(md) {
        position: relative;
        z-index: $zindex-fixed + 1;
      }
    }

    &__nav {
      @include media-breakpoint-down(md) {
        transform: translateX(100%);
        opacity: 1;
        transition: transform .5s ease;
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: $white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: $zindex-fixed;

        &.is-open {
          transform: translateX(0);
        }
      }
    }

    &__slogan {
      padding-left: 40px;
      margin-left: 40px;
      border-left: 1px solid $gray-400;
    }

    // @include media-breakpoint-down(sm) {
    //   .btn {
    //     padding: $input-btn-padding-y $input-btn-padding-x/2;
    //     font-size: 0.7rem;
    //     img {
    //       display: block;
    //     }
    //   }
    // }
  }
</style>
