<template>
  <section class="infection-test" id="infection-test">
    <Container class="container--md">

      <h1 class="infection-test__title">{{ $t('infectionTest.title') }}</h1>

      <div class="infection-test__perex" v-html="$t('infectionTest.perex')"></div>
    </Container>
    <Container class="container--lg">
      <b-form @submit.prevent="onSubmitTest">

        <div class="row">
          <div class="col-md-6 px-5">

            <div class="infection-test__item">
              <div class="infection-test__item__title">{{ $t('infectionTest.questions.fever') }}</div>
              <b-form-radio-group
                v-model="questions.feverQuestion.selected"
                :options="questions.feverQuestion.options"
                class="infection-test__item__body"
                value-field="item"
                text-field="name"
                disabled-field="notEnabled"
                buttons
                button-variant="outline-primary"
                size="sm"
              ></b-form-radio-group>
            </div>

            <div class="infection-test__item">
              <div class="infection-test__item__title">{{ $t('infectionTest.questions.dryCough') }}</div>
              <b-form-radio-group
                v-model="questions.dryCoughQuestion.selected"
                :options="questions.dryCoughQuestion.options"
                class="infection-test__item__body"
                value-field="item"
                text-field="name"
                disabled-field="notEnabled"
                buttons
                button-variant="outline-primary"
                size="sm"
              ></b-form-radio-group>
            </div>

            <div class="infection-test__item">
              <div class="infection-test__item__title">{{ $t('infectionTest.questions.breathingDifficulties') }}</div>
              <b-form-radio-group
                v-model="questions.breathingDifficultiesQuestion.selected"
                :options="questions.breathingDifficultiesQuestion.options"
                class="infection-test__item__body"
                value-field="item"
                text-field="name"
                disabled-field="notEnabled"
                buttons
                button-variant="outline-primary"
                size="sm"
              ></b-form-radio-group>
            </div>

          </div>
          <div class="col-md-6 px-5">

            <div class="infection-test__item">
              <div class="infection-test__item__title">{{ $t('infectionTest.questions.musclePain') }}</div>
              <b-form-radio-group
                v-model="questions.musclePainQuestion.selected"
                :options="questions.musclePainQuestion.options"
                class="infection-test__item__body"
                value-field="item"
                text-field="name"
                disabled-field="notEnabled"
                buttons
                button-variant="outline-primary"
                size="sm"
              ></b-form-radio-group>
            </div>

            <div class="infection-test__item">
              <div class="infection-test__item__title">{{ $t('infectionTest.questions.sneezing') }}</div>
              <b-form-radio-group
                v-model="questions.sneezingQuestion.selected"
                :options="questions.sneezingQuestion.options"
                class="infection-test__item__body"
                value-field="item"
                text-field="name"
                disabled-field="notEnabled"
                buttons
                button-variant="outline-primary"
                size="sm"
              ></b-form-radio-group>
            </div>

          </div>
        </div>

        <div class="infection-test__other">
          <div class="row">
            <div class="col-md-6 px-5">

              <div class="infection-test__item">
                <div class="infection-test__item__title">{{ $t('infectionTest.questions.infectedContact') }}</div>
                <b-form-radio-group
                  v-model="otherQuestions.infectedContactQuestion.selected"
                  :options="otherQuestions.infectedContactQuestion.options"
                  class="infection-test__item__body"
                  value-field="item"
                  text-field="name"
                  disabled-field="notEnabled"
                  buttons
                  button-variant="outline-primary"
                  size="sm"
                ></b-form-radio-group>
              </div>

            </div>
            <div class="col-md-6 px-5">

              <div class="infection-test__item">
                <div class="infection-test__item__title">{{ $t('infectionTest.questions.visitRiskCountry') }}</div>
                <b-form-radio-group
                  v-model="otherQuestions.visitRiskCountryQuestion.selected"
                  :options="otherQuestions.visitRiskCountryQuestion.options"
                  class="infection-test__item__body"
                  value-field="item"
                  text-field="name"
                  disabled-field="notEnabled"
                  buttons
                  button-variant="outline-primary"
                  size="sm"
                ></b-form-radio-group>
              </div>

              <multiselect
                v-model="selectedCountry"
                class="mb-3"
                :allow-empty="true"
                :options="Object.values(this.countries)"
                :selectedLabel="''"
                :selectLabel="''"
                :deselectLabel="''"
                :placeholder="$t('infectionTest.selectCountry')">
              </multiselect>

              <div class="form-date-control">
                <font-awesome-icon icon="calendar" class="form-date-control__icon" />
                <v-date-picker
                  :mode="modeDatePicker"
                  v-model="selectedDatePicker"
                  color="teal">
                  <input
                    id="date"
                    :placeholder="$t('infectionTest.selectDate')"
                    slot-scope="{ inputProps, inputEvents }"
                    :class="[`form-control`]"
                    v-bind="inputProps"
                    v-on="inputEvents">
                </v-date-picker>
              </div>

            </div>
          </div>
        </div>

      </b-form>

    </Container>
  </section>
</template>

<script>
  import Container from '~/components/Atoms/Container.vue'
  import ExternalLink from '~/components/Atoms/ExternalLink.vue'
  import { required, email, minLength, maxLength, between, numeric } from "vuelidate/lib/validators"
  import { mapMutations, mapActions } from 'vuex'

  const checked = (value) => {
    return value
  }

  export default {
    name: "InfectionTest",
    mounted() {

    },
    data() {
      return {
        selectedCountry: '',
        modeDatePicker: 'range',
        selectedDatePicker: null,
        checkedMyDoctor: false,
        personalDataAgreement: false,
        newsletterAgreement: false,
        conditionsAgreement: false,
        datePickerAttributes: {
          contentClass: 'ldfjaksdjflkasdjfl',
          height: '48px'
        },
        questions: {
          feverQuestion: {
            selected: null,
            options: [
              { item: true, name: this.$t('yes') },
              { item: false, name: this.$t('no') },
            ]
          },
          dryCoughQuestion: {
            selected: null,
            options: [
              { item: true, name: this.$t('yes') },
              { item: false, name: this.$t('no') },
            ]
          },
          breathingDifficultiesQuestion: {
            selected: null,
            options: [
              { item: true, name: this.$t('yes') },
              { item: false, name: this.$t('no') },
            ]
          },
          musclePainQuestion: {
            selected: null,
            options: [
              { item: true, name: this.$t('yes') },
              { item: false, name: this.$t('no') },
            ]
          },
          sneezingQuestion: {
            selected: null,
            options: [
              { item: true, name: this.$t('yes') },
              { item: false, name: this.$t('no') },
            ]
          },
        },
        otherQuestions: {
          infectedContactQuestion: {
            selected: null,
            options: [
              { item: true, name: this.$t('yes') },
              { item: false, name: this.$t('no') },
            ]
          },
          visitRiskCountryQuestion: {
            selected: null,
            options: [
              { item: true, name: this.$t('yes') },
              { item: false, name: this.$t('no') },
            ]
          },
        },
        countries: {
          AF: 'Afghanistan',
          AX: 'Aland Islands',
        }
      }
    },
    components: {
      Container,
      ExternalLink,
    },
    methods: {
      onSubmitTest () {
        alert('odesilam formualr')
      },
      ...mapActions({
        loadPreScoringForm: 'question/loadPreScoringForm'
      })
    }
  }
</script>

<style lang="scss" scoped>
  @import "~assets/styles/common/variables";

  .infection-test {
    &__title {
      font-size: 24px;
      text-align: center;
      color: $primary;
      margin-bottom: 2rem;
    }

    &__perex {
      font-size: 20px;
      line-height: 27px;
      text-align: center;
      max-width: 640px;
      margin: 0 auto 90px;
    }

    input:focus {
      outline: none;
    }

    .form-control {
      color: $primary;

      &:is-valid,
      &.is-valid {
        border-color: $input-border-color;
      }
    }

    &__item {
      display: flex;
      align-items: center;
      margin-bottom: 24px;

      &__title {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
        font-weight: $font-weight-bolder;
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
        line-height: 127.9%;
      }

      &__body {
        &:focus {
          outline: none;
        }
      }
    }

    &__other {
      padding-top: 60px;
      margin-top: 60px;
      border-top: solid 1px $gray-300;
    }

    &__link {
      color: $gray-850;
      text-decoration: underline;
      cursor: pointer;

      &:hover {
        color: $primary;
      }
    }
  }

  .form-date-control {
    display: block;
    position: relative;
    margin-bottom: 1rem;

    &__icon {
      position: absolute;
      left: add($input-padding-y, .25rem);
      top: $input-padding-x/2;
      color: $primary;
      pointer-events: none;
    }

    .form-control {
      padding-left: $input-padding-x*1.5;
    }
  }
</style>

<style lang="scss">
  @import "~assets/styles/common/variables";

  .infection-test__item {
    .btn {
      border-radius: 4px !important;

      &:not(.active):not(:hover) {
        background: $white;
        border-color: $gray-300;
        color: $gray-600;
      }

      + .btn {
        margin-left: 1rem;
      }
    }
  }

  .date-time-picker {
    input {
      display: block;
      width: 100%;
      height: $input-height;
      padding: $input-padding-y $input-padding-x/1.5;
      font-family: $input-font-family;
      @include font-size($input-font-size);
      font-weight: $input-font-weight;
      line-height: $input-line-height;
      color: $input-color;
      background-color: $input-bg;
      background-clip: padding-box;
      border: $input-border-width solid $input-border-color;

      // Note: This has no effect on <select>s in some browsers, due to the limited stylability of `<select>`s in CSS.
      @include border-radius($input-border-radius, 0);

      @include box-shadow($input-box-shadow);
      @include transition($input-transition);

      // Unstyle the caret on `<select>`s in IE10+.
      &::-ms-expand {
        background-color: transparent;
        border: 0;
      }

      // Remove select outline from select box in FF
      &:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 $input-color;
      }

      // Customize the `:focus` state to imitate native WebKit styles.
      @include form-control-focus($ignore-warning: true);

      // Placeholder
      &::placeholder {
        color: $input-placeholder-color;
        // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
        opacity: 1;
      }

      // Disabled and read-only inputs
      //
      // HTML5 says that controls under a fieldset > legend:first-child won't be
      // disabled if the fieldset is disabled. Due to implementation difficulty, we
      // don't honor that edge case; we style them as disabled anyway.
      &:disabled,
      &[readonly] {
        background-color: $input-disabled-bg;
        // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655.
        opacity: 1;
      }
    }
  }
</style>
