<template>
  <ul class="info-list">
    <li class="info-list__item" :class="item.checked ? 'is-check' : 'is-error'" v-for="(item, index) in items" :key="index.id">
      <img v-if="item.checked" class="info-list__item__icon" src="~/assets/img/icon-check.svg" alt="">
      <img v-else class="info-list__item__icon" src="~/assets/img/icon-error.svg" alt="">
      <span v-html="item.text"></span>
    </li>
  </ul>
</template>

<script>
  export default {
    name: "InfoList",
    props: {
      items: {
        type: Array,
        required: true
      }
    },
  }
</script>

<style lang="scss">
  @import "~assets/styles/common/variables";

  .info-list {
    padding-left: 0;
    list-style: none;

    &--centered {
      .info-list__item {
        justify-content: center;
      }
    }

    &__item {
      margin-bottom: 30px;
      display: flex;
      align-items: flex-start;

      &__icon {
        margin-right: 27px;
        transform: translateY(-3px);
      }

      &.is-error {
        color: $danger;

        a {
          color: $danger;
          text-decoration: underline;

          &:hover {
            color: darken($danger, 15%);
          }
        }
      }
    }
  }
</style>
