<template>
  <ul class="link-list">
    <li class="link-list__item" v-for="(item, index) in items" :key="index">
      <ExternalLink :href="item.link" :title="item.title" />
    </li>
  </ul>
</template>

<script>
  import ExternalLink from '~/components/Atoms/ExternalLink.vue'

  export default {
    name: "LinkList",
    props: {
      items: {
        type: Array,
        required: true
      }
    },
    components: {
      ExternalLink
    }
  }
</script>

<style lang="scss" scoped>
  @import "~assets/styles/common/variables";

  .link-list {
    padding-left: 0;
    list-style: none;
    margin-bottom: $spacer;

    &__item {
      margin-bottom: .5rem;
    }
  }
</style>
