<template>
  <section class="register-form" id="register-form">
    <Container class="container--md">

      <b-form @submit.prevent="submitRegisterForm" v-if="!formIsSubmitted">

        <h2 class="register-form__title">{{ $t('rsAssistant.registerForm.title') }}</h2>

        <h3 class="register-form__subtitle">{{ $t('rsAssistant.registerForm.checkTitle') }}</h3>

        <div class="row" :class="{'is-invalid': $v.form.medication.$error}">
          <div class="col-sm-4 mb-4 mb-sm-0">
            <div class="custom-control custom-checkbox">
              <input
                class="custom-control-input"
                type="radio"
                name="selectMedicine"
                value="mayzent"
                id="medication-meyzent"
                v-model="$v.form.medication.$model">
              <label class="custom-control-label" for="medication-meyzent">
                {{ $t('rsAssistant.registerForm.medication.mayzent') }}
              </label>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="custom-control custom-checkbox">
              <input
                class="custom-control-input"
                type="radio"
                name="selectMedicine"
                value="gilenya"
                id="medication-gilenya"
                v-model="$v.form.medication.$model">
              <label class="custom-control-label" for="medication-gilenya">
                {{ $t('rsAssistant.registerForm.medication.gilenya') }}
              </label>
            </div>
          </div>
        </div>
        <small class="form-text invalid-feedback mt-2" v-if="$v.form.medication.$error">{{ $t('rsAssistant.registerForm.medication.errorText') }}</small>

        <hr class="hr">

        <h3 class="register-form__subtitle">{{ $t('rsAssistant.registerForm.formTitle') }}</h3>

        <div class="row mb-md-3">
          <div class="col-md-6">
            <b-form-group
              id="input-group-first-name"
              :label="$t('rsAssistant.registerForm.firstName.title')"
              label-for="input-first-name"
              :invalid-feedback="this.$v.form.firstName.$error ? $t('rsAssistant.registerForm.firstName.errorText') : ''"
            >
              <b-form-input
                id="input-first-name"
                v-model="$v.form.firstName.$model"
                type="text"
                placeholder=""
                :class="[{'is-invalid': $v.form.firstName.$error}, {'is-valid': !$v.form.firstName.$invalid}]">
              ></b-form-input>
            </b-form-group>
          </div>
          <div class="col-md-6">
            <b-form-group
              id="input-group-last-name"
              :label="$t('rsAssistant.registerForm.lastName.title')"
              label-for="input-last-name"
              :invalid-feedback="this.$v.form.lastName.$error ? $t('rsAssistant.registerForm.lastName.errorText') : ''"
            >
              <b-form-input
                id="input-last-name"
                v-model="$v.form.lastName.$model"
                type="text"
                placeholder=""
                :class="[{'is-invalid': $v.form.lastName.$error}, {'is-valid': !$v.form.lastName.$invalid}]">
              ></b-form-input>
            </b-form-group>
          </div>
        </div>

        <div class="row mb-md-3">
          <div class="col-md-6">
            <b-form-group
              id="input-group-email"
              :label="$t('rsAssistant.registerForm.email.title')"
              label-for="input-email"
              :invalid-feedback="this.$v.form.email.$error && this.$v.form.email.$invalid && this.$v.form.email.required ? $t('rsAssistant.registerForm.email.errorEmailText') : this.$v.form.email.$error ? $t('rsAssistant.registerForm.email.errorText') : ''"
            >
              <b-form-input
                id="input-email"
                v-model="$v.form.email.$model"
                type="text"
                placeholder=""
                :class="[{'is-invalid': $v.form.email.$error}, {'is-valid': !$v.form.email.$invalid}]"
              ></b-form-input>
            </b-form-group>
          </div>
          <div class="col-md-6">
            <b-form-group
              id="input-group-phone"
              :label="$t('rsAssistant.registerForm.phone.title')"
              label-for="input-phone"
              :invalid-feedback="this.$v.form.phone.$error && this.$v.form.phone.$invalid && this.$v.form.phone.required ? $t('rsAssistant.registerForm.phone.errorPhoneText') : this.$v.form.phone.$error ? $t('rsAssistant.registerForm.phone.errorText') : ''"
            >
              <b-form-input
                id="input-phone"
                v-model="$v.form.phone.$model"
                type="text"
                placeholder=""
                :class="[{'is-invalid': $v.form.phone.$error}, {'is-valid': !$v.form.phone.$invalid}]"
              ></b-form-input>
            </b-form-group>
          </div>
        </div>

        <div class="row mb-md-3">
          <div class="col-md-6">
            <b-form-group
              id="input-group-birth-year"
              :label="$t('rsAssistant.registerForm.birthYear.title')"
              label-for="input-birth-year"
              :invalid-feedback="!this.$v.form.birthYear.numeric || !this.$v.form.birthYear.minLength || !this.$v.form.birthYear.maxLength ? $t('rsAssistant.registerForm.birthYear.errorLengthText') : !this.$v.form.birthYear.between ? $t('rsAssistant.registerForm.birthYear.errorBetweenText') : $t('rsAssistant.registerForm.birthYear.errorText') "
            >
              <b-form-input
                id="input-birth-year"
                v-model="$v.form.birthYear.$model"
                type="text"
                placeholder=""
                :class="[{'is-invalid': $v.form.birthYear.$error}, {'is-valid': !$v.form.birthYear.$invalid}]"
              ></b-form-input>
            </b-form-group>
          </div>
          <div class="col-md-6">
            <b-form-group
              id="input-group-zip-code"
              :label="$t('rsAssistant.registerForm.zipCode.title')"
              label-for="input-zip-code"
              :invalid-feedback="!$v.form.zipCode.zipCode && this.form.zipCode.length >= 1 ? $t('rsAssistant.registerForm.zipCode.errorZipCodeText') : $t('rsAssistant.registerForm.zipCode.errorText') "
            >
              <b-form-input
                id="input-zip-code"
                v-model="$v.form.zipCode.$model"
                type="text"
                placeholder=""
                :class="[{'is-invalid': $v.form.zipCode.$error}, {'is-valid': !$v.form.zipCode.$invalid}]"
              ></b-form-input>
            </b-form-group>
          </div>
        </div>

        <div class="mb-3">
          <label for="selectMsCentrum">{{ $t('rsAssistant.registerForm.treatmentCenter.title') }}</label>
          <multiselect
            id="selectMsCentrum"
            v-model="$v.form.treatmentCenter.$model"
            :allow-empty="true"
            label="name"
            :options="treatmentCenterList"
            :selectedLabel="''"
            :selectLabel="''"
            :deselectLabel="''"
            :placeholder="!$v.form.treatmentCenter.$error ? $t('rsAssistant.registerForm.treatmentCenter.selectMsCentrum'): ''"
            :class="[{'is-invalid': $v.form.treatmentCenter.$error}]">
          </multiselect>
          <small class="form-text invalid-feedback" v-if="$v.form.treatmentCenter.$error">{{ $t('rsAssistant.registerForm.treatmentCenter.errorText') }}</small>
        </div>

        <hr class="hr mb-5">

        <div class="mb-4">
          <div class="custom-control custom-checkbox" :class="{'is-invalid': $v.form.privacyPolicy.$error}">
            <input
              class="custom-control-input"
              type="checkbox"
              id="personalDataProcessing"
              v-model="$v.form.privacyPolicy.$model">
            <label class="custom-control-label" for="personalDataProcessing">
              {{ $t('rsAssistant.dataProcessing.iAgreePersonal') }}
              <span class="register-form__link" @click.prevent="$eventHub.$emit('openPersonalMSAssistantModal')">{{ $t('rsAssistant.dataProcessing.personalDataProcessing') }}</span>
            </label>
          </div>
        </div>

        <div class="mb-4">
          <div class="custom-control custom-checkbox" :class="{'is-invalid': $v.form.conditionsAgreement.$error}">
            <input
              class="custom-control-input"
              type="checkbox"
              id="conditionsAgreement"
              v-model="$v.form.conditionsAgreement.$model">
            <label class="custom-control-label" for="conditionsAgreement">
              {{ $t('rsAssistant.dataProcessing.iAgree') }}
              <span class="register-form__link" @click.prevent="$eventHub.$emit('openConditionMSAssistantModal')">{{ $t('rsAssistant.dataProcessing.conditionsAgreement') }}</span>
            </label>
          </div>
        </div>

        <div class="d-flex flex-row mb-4">
          <div class="pt-2 pr-2 pl-0"><font-awesome-icon icon="info-circle" class="info-message__icon"/></div>
          <div class="p-2"><h5>{{ $t('rsAssistant.formInfo') }}</h5></div>
        </div>

        <div class="text-center mt-6">
          <button
            v-if="!loading"
            type="submit"
            class="btn btn-primary text-center px-6"
            :disabled="loading"
          >{{ $t('rsAssistant.registerForm.send') }}</button>
        </div>
        <Loading v-if="loading" margin="0"/>

      </b-form>

      <Panel v-else>
        <template v-slot:body>

          <InfoMessage :title="$t('rsAssistant.registerForm.sendTitle')" :perex="$t('rsAssistant.registerForm.sendPerex')">
          </InfoMessage>

        </template>
      </Panel>

    </Container>
    <PersonalMSAssistantModal />
    <ConditionalMSAssistantModal />
  </section>
</template>

<script>
  import Container from '~/components/Atoms/Container.vue'
  import Panel from '~/components/Atoms/Panel.vue'
  import InfoMessage from '~/components/Atoms/InfoMessage.vue'
  import Button from '~/components/Atoms/Button.vue'
  import PersonalMSAssistantModal from '~/components/Atoms/PersonalMSAssistantModal.vue'
  import ConditionalMSAssistantModal from '~/components/Atoms/ConditionalMSAssistantModal.vue'
  import {email, between, maxLength, minLength, numeric, required} from "vuelidate/lib/validators";
  import { parsePhoneNumberFromString } from 'libphonenumber-js/min'
  import { mapMutations, mapActions } from 'vuex'
  import Loading from "~/components/Atoms/Loading";

  //TODO: move to general and share with Question form
  const phone = (value) => {
    const phoneNumber = parsePhoneNumberFromString(value)
    if (phoneNumber !== undefined && phoneNumber.isPossible() && /^\+[0-9\- ]*[0-9]$/.test(value)) {
      return true
    }
    return false
  }
  //TODO: move to general and share with Question form
  const zipCode = (value) => {
    return /^[0-9]{3} ?[0-9]{2}$/.test(value)
  }
  //TODO: move to general and share with Question form
  const checked = (value) => {
    return value
  }

  export default {
    name: "RegisterForm",
    data () {
      return {
        selected: '',
        formIsSubmitted: false,
        form: {
          medication: '',
          firstName: '',
          lastName: '',
          email: '',
          phone: '',
          birthYear: '',
          zipCode: '',
          treatmentCenter: null,
          conditionsAgreement: false,
          privacyPolicy: false
        },
        treatmentCenterList: [
          { value: "BR1", name: "FN U sv. Anny, Pekařská 53, Brno"},
          { value: "BR2", name: "FN Brno - Bohunice, Jihlavská 20, Brno"},
          { value: "CB", name: "Nemocnice České Budějovice, B. Němcové 54, České Budějovice"},
          { value: "HK", name: "FN Hradec Králové, Sokolská 581, Hradec Králové"},
          { value: "JI", name: "Nemocnice Jihlava, Vrchlického 59, Jihlava"},
          { value: "OL", name: "FN Olomouc, I. P. Pavlova 6, Olomouc"},
          { value: "OS", name: "FN Ostrava, 17. listopadu 1790, Ostrava"},
          { value: "PA", name: "Pardubická krajská nemocnice, Kyjevská 44, Pardubice"},
          { value: "PL", name: "FN Plzeň, Alej Svobody 80, Plzeň"},
          { value: "PH1", name: "VFN, Karlovo náměstí 32, Praha 2"},
          { value: "PH4", name: "Thomayerova nemocnice, Vídeňská 800, Praha 4"},
          { value: "PH2", name: "FN Motol, V úvalu 84, Praha 5"},
          { value: "PH3", name: "FN Královské Vinohrady, Šrobárova 50, Praha 10"},
          { value: "TE", name: "Nemocnice Teplice, Duchcovská 53, Teplice"},
          { value: "ZL", name: "Krajská nemocnice T. Bati, Havlíčkovo nábřeží 600, Zlín"}
        ],
      }
    },
    validations: {
      form: {
        medication: { required },
        firstName: { required },
        lastName: { required },
        email: { required, email },
        phone: { required, phone },
        birthYear: {
          required,
          numeric,
          minLength: minLength(4),
          maxLength: maxLength(4),
          between: between (new Date().getFullYear() - 120, new Date().getFullYear())
        },
        zipCode: { required, zipCode },
        treatmentCenter: { required },
        conditionsAgreement: { checked },
        privacyPolicy: { checked }
      }
    },
    components: {
      Loading,
      Container,
      Panel,
      InfoMessage,
      Button,
      PersonalMSAssistantModal,
      ConditionalMSAssistantModal
    },
    computed:{
      loading() {
        return this.$store.state.question.loading
      },
    },
    methods: {
      submitRegisterForm () {
        this.$v.form.$touch()
        if (this.$v.form.$invalid) {
          this.$nextTick(() => this.scrollToError())
          return
        }else{
          this.sendRegistrationForm()
        }
      },
      scrollToError() {
        this.$scrollTo('.is-invalid', 300, {
          offset: -60,
          onDone: element => {
            element.focus()
          },
        })
      },
      sendNextMessage (e) {
        e.preventDefault();
        this.formIsSubmitted = true
      },
      sendRegistrationForm () {
        this.setLoading(true)
        const phoneNumber = parsePhoneNumberFromString(this.form.phone)
        let programData = {
          medication: this.form.medication,
          patient: {
            Address: {
              zip: this.form.zipCode
            },
            firstName: this.form.firstName,
            lastName: this.form.lastName,
            birthYear: parseInt(this.form.birthYear),
            phone: {
              prefix: "+" + phoneNumber.countryCallingCode,
              number: parseInt(phoneNumber.nationalNumber)
            },
            email: this.form.email
          },
          program: {
            name: "rs-assistant"
          },
          treatmentCenter: this.form.treatmentCenter.value,
          termsOfUseAgreement: this.form.conditionsAgreement,
          consentToTheProcessingOfPersonalData: this.form.privacyPolicy
        }

        this.$axios.post('/api/v3/programs/rs-assistant/program-cases',programData)
          .then(data => {
            this.formIsSubmitted = true
            this.setLoading(false)
          })
          .catch(err => {
            this.setLoading(false)
          })
          .finally(() => {
            this.setLoading(false)
          })
      },

      ...mapMutations({
        setLoading: 'question/setLoading'
      }),
    }
  }
</script>

<style lang="scss">
  @import "~assets/styles/common/variables";
  .multiselect.is-invalid .multiselect__tags{
    border-color: $red;
  }
</style>

<style lang="scss" scoped>
  @import "~assets/styles/common/variables";

  .register-form {
    margin-bottom: 2rem;
    padding-top: 70px;
    padding-bottom: 70px;

    &__title {
      color: $primary;
      font-weight: $font-weight-bold;
      font-size: 24px;
      line-height: 33px;
      text-align: center;
      margin-bottom: 68px;
    }

    &__subtitle {
      font-size: 18px;
      color: $primary;
      margin-bottom: 2rem;
    }

    .hr {
      border-color: $gray-300;
      border-width: 1px;
      margin-top: 40px;
      margin-bottom: 40px;
      opacity: .4;
    }

    &__link {
      color: $gray-850;
      text-decoration: underline;
      cursor: pointer;

      &:hover {
        color: $primary;
      }
    }
  }

  .info-message {
    $this: &;
    text-align: center;

    @include media-breakpoint-up(md) {
      padding: 2rem;
    }

    &__icon {
      margin-bottom: 20px;
      font-size: 26px;
      color: $primary;
    }
  }
</style>
