<template>
  <div :class="`alert alert--${type}`">
    <font-awesome-icon :icon="fontIcon" class="alert__icon" />
    <span v-html="text"></span>
  </div>
</template>

<script>
  export default {
    name: "Alert",
    props: {
      text: {
        type: String,
        required: false
      },
      type: {
        type: String,
        default: 'info'
      },
      fontIcon: {
        type: String,
        default: 'info-circle'
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import "~assets/styles/common/variables";

  .alert {
    background: $white;
    box-shadow: 0px 5px 9px rgba(227, 227, 227, 0.25);
    border-radius: 8px;
    padding: 21px;
    text-align: center;

    &__icon {
      width: 20px;
      display: inline-block;
      vertical-align: sub;
      margin-right: 1rem;
      color: $primary;
      font-size: 1.3rem;
    }
  }
  .alert--info-blue {
    box-shadow: 0px 2px 15px rgba(7, 173, 186, 0.25);
  }
</style>
