<template>
  <figure class="avatar">
    <img :src="avatar" :alt="altDescription" @error="e => e.target.src = require(`~/assets/img/default-avatar.png`)">
  </figure>
</template>

<script>
  // import test from require('~/assets/img/default-avatar.png')
  export default {
    name: "Avatar",
    props: {
      avatar: {
        type: String,
        required: true,
      },
      altDescription: {
        type: String,
        default: ''
      },
    }
  }
</script>

<style lang="scss" scoped>
  @import "~assets/styles/common/variables";
  @import "~object-fit-images/preprocessors/mixin.scss";

  $avatar-size:           60px !default;
  $avatar-size-md:        90px !default;
  $avatar-size-lg:        136px !default;

  .avatar {
    display: inline-block;
    width: $avatar-size;
    height: $avatar-size;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 0;

    &--md {
      width: $avatar-size-md;
      height: $avatar-size-md;
    }

    &--lg {
      width: $avatar-size-lg;
      height: $avatar-size-lg;
    }

    &--rounded {
      border-radius: 4px;
    }

    > img {
      display: block;
      width: 100%;
      height: 100%;
      @include object-fit(cover, center);
    }

    .doctor-info-box & {
      width: 100%;
      max-width: $avatar-size-lg;
      height: auto;
      max-height: $avatar-size-lg;
    }
  }
</style>
