<template>
  <button :type="type" :class="`btn ${className}`" @click.prevent="onClick" :disabled="disable">
    <slot></slot>
  </button>
</template>

<script>
  export default {
    name: "Button",
    props: {
      className: {
        type: String,
        default: 'btn-primary'
      },
      type: {
        type: String,
        default: 'button'
      },
      disable: {
        type: Boolean,
        default: false
      },
      onClick: {
        type: Function
      }
    }
  }
</script>

<style lang="scss">
  @import "~assets/styles/common/variables";
  @import "~bootstrap/scss/mixins";
  @import "~bootstrap/scss/buttons";
</style>
