<template>
  <b-modal id="conditionalMSAssistantModal" ref="conditions-agreement-ms-assistant" size="lg" centered scrollable>
    <template v-slot:modal-header>
      <h4 class="mb-0">{{ $t('rsAssistant.dataProcessing.modalTitle') }}</h4>
    </template>

    <h3 class="text-primary">{{ $t('legalNotice.title')}}</h3>

    <div class="legal-notice__body">
      <p>1. Provozovatelem služby RS asistent (dále také jen „Projekt“, čímž se rozumí webové stránky dostupné na www.ulekare.cz/rs-asistent a další připojené služby) je společnost uLékaře.cz, s.r.o., IČO 05341051, sídlem Praha 2, Šafaříkova 201/17. Společnost je zapsána v obchodním rejstříku Městského soudu v Praze, sp. zn. C.262183. Obsahem Projektu jsou informace a služby určené pro uživatele, kteří mají diagnostikovanou nemoc roztroušená skleróza, dochází do specializovaných center pro řešení této diagnózy a byl jim jejich ošetřujícím lékařem předepsán lék Mayzent nebo Gilenya, kdy tyto stránky slouží jako podpora léčby a užívání uvedených léků.</p>
      <p>2. Projekt v žádném případě nenahrazuje odbornou zdravotnickou péči či výkony lékaře či jiných odborníků ve zdravotnictví, jedná se pouze o doplňkovou službu a zdroj informací a podpora léčby.</p>
      <p>3. Jedna ze služeb, kterou je možné v souvislosti s Projektem využít, je &quot;SMS připomínka&quot; užití léků. Jedná se o službu pouze informačního charakteru. Pro užívání léků jsou zásadní a rozhodující informace, které uživatelé obdrží od svého lékaře nebo lékárníka. Provozovatel služby nenese odpovědnost za stav telefonu nebo signálu pro příjem sms zpráv uživatelem.</p>
      <p>4. Prostřednictvím Projektu je možnost objednat se do zdravotnického zařízení, konkrétně pak na fyzioterapii či psychoterapii. Zdravotnická zařízení po převzetí informací o uživateli komunikují přímo s uživatelem, první kontakt uživatele se zdravotnickým zařízením však zařizuje Provozovatel. V případě takovéto objednávky Provozovatel zajistí kontakt na zařízení a termín vč. jeho připomínky, případně poskytne obecné informace týkající se pojištění či potřeby úhrady či spoluúčasti za poskytnuté výkony a služby, v ostatním však je partnerem uživatele již konkrétní zdravotnické zařízení.</p>
      <p>5. Provozovatel si vyhrazuje právo na změnu obsahu a přístupu k webovým stránkám a mobilní aplikaci. K plánovaným zásadním změnám obsahu stránek a ke změnám jejich užívání bude vždy připojeno datum změny.</p>
      <p>Poslední aktualizace: 28. srpen 2020</p>
    </div>

    <template v-slot:modal-footer>
      <a href="#" class="btn btn-primary px-6" @click.prevent="closeConditionsModal">{{ $t('close') }}</a>
    </template>
  </b-modal>
</template>

<script>
  export default {
    name: "ConditionalMSAssistantModal",
    created() {
      this.$eventHub.$on('openConditionMSAssistantModal', () => {
        this.$refs['conditions-agreement-ms-assistant'].show()
      })
    },
    methods: {
      closeConditionsModal() {
        this.$refs['conditions-agreement-ms-assistant'].hide()
      },
    }
  }
</script>

<style scoped>

</style>
