<template>
  <b-modal id="conditionsAgreementModal" ref="conditions-agreement" size="lg" centered scrollable>
    <template v-slot:modal-header>
      <h4 class="mb-0">{{ $t('dataProcessing.iAgree') }} {{ $t('dataProcessing.conditionsAgreement') }}</h4>
    </template>

    <h3 class="text-primary">{{ $t('legalNotice.title')}}</h3>

    <div class="legal-notice__body">
      <p>1: Provozovatelem služby Virtuální čekárna, která je dostupná prostřednictvím internetové stránky <a href="https://www.ulekare.cz/cekarna" target="_blank">www.ulekare.cz/cekarna</a> a prostřednictvím mobilní aplikace Virtuální čekárna, je společnost uLékaře.cz, s.r.o., IČO 05341051, sídlem Praha 2, Šafaříkova 201/17. Společnost je zapsána v obchodním rejstříku Městského soudu v Praze, sp. zn. C.262183. Společnost je dále označována jako „společnost uLékaře.cz“ nebo „provozovatel služby“.</p>
      <p>2: Účelem služby Virtuální čekárna je umožnění online propojení uživatelů jako pacientů na straně jedné a zdravotnických zařízení (praktických lékařů, lékařů specialistů a dalších odborníků ve zdravotnictví) na straně druhé.</p>
      <p>3: Provozovatel služby vykonává ke službě Virtuální čekárna autorská majetková práva a tato služba je chráněna ujednáními autorského zákona a občanského zákoníku.</p>
      <p>4: Tyto podmínky užití stanovují práva a povinnosti uživatelů služby Virtuální čekárna na straně uživatelů   - pacientů.</p>
      <p>5: Uživatelé se do služby Virtuální čekárna registrují prostřednictvím online registrace. Vzhledem k tomu, že v rámci služby Virtuální čekárna dochází ke zpracování osobních údajů uživatelů a provozovatel služby postupuje při zpracování osobních údajů v souladu s obecným nařízením o ochraně osobních údajů č. 2016/679, udělují uživatelé při registraci souhlas se zpracováním osobních údajů (včetně zvláštní kategorie osobních údajů o zdravotním stavu). Vlastní text souhlasu se zpracováním osobních údajů naleznete při registraci do služby Virtuální čekárna, udělení tohoto souhlasu je podmínkou pro zpracování vašich dotazů ve službě Virtuální čekárna. Další informace o zpracování osobních údajů ve službě Virtuální čekárna naleznete zde v <a href="https://www.ulekare.cz/zasady-zpracovani-osobnich-udaju" target="_blank">Zásadách zpracování osobních údajů uLékaře.cz</a>.</p>
      <p>6: V rámci registrace uživatelé vyplní dotazník infekčnosti a v krátkosti popíší svůj zdravotní problém.</p>
      <p>7: Dále v rámci registrace uživatel provede výběr svého praktického lékaře z katalogu lékařů.</p>
      <p>8: V případě, že v katalogu lékařů uživatel svého praktického lékaře (či zdravotnické zařízení, v jehož rámci tento lékař působí) nenalezne, svůj dotaz může rovněž položit. Takovýto případ je ale poté zpracován praktickým lékařem či specialistou služby Poradna lékaře, který společnost uLékaře.cz rovněž provozuje. Podmínky služby Poradna lékaře naleznete <a href="https://www.ulekare.cz/podminky-uziti-partner" target="_blank">zde</a> a pokud se vašeho případu tento bod podmínek Virtuální čekárny týká, vyplněním registrace výslovně souhlasíte s podmínkami služby Poradna lékaře. V této souvislosti vás upozorňujeme na možnost, že pokud budete souhlasit a bude to pro daný případ vhodné,  společnost uLékaře.cz může domluvit návštěvu ve zdravotnickém zařízení, kde se budou danému zdravotnímu problému věnovat lékaři na místě. V takovém případě po sjednání kontaktu komunikuje již uživatel napřímo se zdravotnickým zařízením samostatně, bez účasti společnosti uLékaře.cz. Rovněž upozorňujeme, že dle podmínek služby Poradna lékaře slouží také jako informační zdroj pro uživatele se stejnými obtížemi. Z tohoto důvodu si provozovatel služby vyhrazuje právo zveřejňovat anonymizované dotazy zodpovězené prostřednictvím Poradny lékaře. Provozovatel proto informuje uživatele, že je nezbytné, aby v dotazech poskytovali jen takové informace, které provozovatel může zveřejnit.</p>
      <p>9: V případě, že uživatel zvolí svého praktického lékaře z katalogu lékařů, společnost uLékaře.cz předá požadavek ve službě Virtuální čekárna tomuto zvolenému praktickému lékaři, který sám v rámci své odborné úrovně posoudí uživatelův dotaz a možnosti dalšího postupu (například sjednání osobní konzultace či jiné vhodné řešení uživatelovy situace). Zvolený lékaře postupuje při další komunikaci s uživatelem jako poskytovatel zdravotních služeb na základě svého platného oprávnění a společnost uLékaře.cz nenese za další postup zvoleného praktického lékaře odpovědnost. Uživatel je povinen uvádět pravdivé informace o svém zdravotním stavu a popisovaném problému, v případě, neuvede-li pravdivé informace, bere na vědomí tu skutečnost, že odpovědi či další zvolený postup lékaře může být touto skutečností značně zkreslený. Dotazy postoupené lékaři z katalogu lékařů nejsou v rámci služby Virtuální čekárna ani Poradna lékaře zveřejňovány, podléhají povinnosti mlčenlivosti lékaře (lékařskému tajemství).</p>
      <p>10: Společnost uLékaře.cz uživatele upozorňuje, že zvolený lékař sám rozhoduje, kdy se bude dotazům pacientů ve Virtuální čekárně věnovat v závislosti na svých časových a dalších možnostech. Společnost uLékaře.cz nemůže ovlivňovat pořadí a způsoby řešení dotazů uživatelů ze strany zvolených lékařů.</p>
      <p>11: Uživatel bere na vědomí, že využití služby Virtuální čekárna nenahrazuje osobní prohlídku lékařem; nelze vyloučit, že osobní návštěva lékaře může být k vyřešení problémů vašeho zdravotního stavu nezbytná. Doporučujeme tuto možnost osobní prohlídky s vaším zvoleným lékařem v průběhu komunikace prostřednictvím služby Virtuální čekárna vždy zkonzultovat.</p>
      <p>12:  Informace zpracovávané zvoleným lékařem ve službě Virtuální čekárna podléhají povinnosti mlčenlivosti lékaře (lékařskému tajemství). Informace jsou chráněny pomocí aktuálně platných technologických postupů, vycházejících z doporučovaných standardů pro zabezpečení dat proti jejich odcizení, zneužití, či jinému nežádoucímu nakládání s nimi</p>
      <p>13: Služba Virtuální čekárna je zpoplatněna dle Ceníku; aktuálně je s ohledem na koronavirovou krizi poskytována bezplatně.</p>
      <p>14: V případě, je-li uživatel ve vztahu k provozovateli služby v postavení spotřebitele, spotřebitelem a vznikne spotřebitelský spor, který se nepodaří vyřešit vzájemnou dohodou, může takový uživatel v postavení spotřebitele podat návrh na mimosoudní řešení spotřebitelského sporu České obchodní inspekci (Ústřední inspektorát – oddělení ADR, sídlem Štěpánská 15, 120 00 Praha 2, e-mail: adr@coi.cz, web: adr.coi.cz). V těchto případech také může uživatel v postavení spotřebitele využít platformu pro řešení spotřebitelských sporů online, která je zřízena Evropskou komisí a je dostupná na internetové adrese: <a href="http://ec.europa.eu/consumers/odr/" target="_blank">ec.europa.eu/consumers/odr/</a>.</p>
      <p>15: Provozovatel služby si vyhrazuje právo na jednostrannou změnu těchto podmínek, která je platná a účinná jejím zveřejněním na stránkách služby Virtuální čekárna.</p>

    </div>

    <template v-slot:modal-footer>
      <a href="#" class="btn btn-primary px-6" @click.prevent="closeConditionsModal">{{ $t('close') }}</a>
    </template>
  </b-modal>
</template>

<script>
  export default {
    name: "ConditionModal",
    created() {
      this.$eventHub.$on('openConditionModal', () => {
        this.$refs['conditions-agreement'].show()
      })
    },
    methods: {
      closeConditionsModal() {
        this.$refs['conditions-agreement'].hide()
      },
    }
  }
</script>

<style scoped>

</style>
