<template>
  <div class="container">
    <slot />
  </div>
</template>

<script>
  export default {
    name: "Container"
  }
</script>

<style lang="scss" scoped>
  @import "~assets/styles/common/variables";

  .container {
    width: 100%;
    max-width: map-get($grid-breakpoints, "xl");
    margin-left: auto;
    margin-right: auto;

    &--sm {
      max-width: map-get($grid-breakpoints, "sm") !important;
    }
    &--md {
      max-width: map-get($grid-breakpoints, "md") !important;
    }
    &--lg {
      max-width: map-get($grid-breakpoints, "lg") !important;
    }

  }
</style>
