<template>
  <a :href="'mailto:'+email">{{ email }}</a>
</template>

<script>
	export default {
		name: "EmailLink",
    props: {
      email: {
        type: String,
        required: true
      }
    }
	}
</script>

<style scoped>

</style>
