<template>
  <a :href="href" rel="noopener noreferrer" target="_blank">{{ title }}</a>
</template>

<script>
  export default {
    name: "ExternalLink",
    props: {
      title: {
        type: String,
        required: true
      },
      href: {
        type: String,
        required: true
      }
    }
  }
</script>

<style lang="scss" scoped>

</style>
