<template>
  <div class="info-message" :class="`info-message--${typeMessage}`">
    <font-awesome-icon icon="check-circle" class="info-message__icon" v-if="typeMessage === 'success'" />
    <h3 class="info-message__title">
      {{ title }}
    </h3>
    <div class="info-message__body" v-html="perex">
    </div>
    <div class="info-message__action" v-if="hasActionSlot">
      <slot name="action" />
    </div>
  </div>
</template>

<script>
  export default {
    name: "InfoMessage",
    props: {
      title: {
        type: String,
        required: true
      },
      perex: {
        type: String,
        required: true
      },
      typeMessage: {
        type: String,
        default: 'success'
      }
    },
    computed: {
      hasActionSlot () {
        return !!this.$slots['action']
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import "~assets/styles/common/variables";

  .info-message {
    $this: &;
    text-align: center;

    @include media-breakpoint-up(md) {
      padding: 2rem;
    }

    &__icon {
      margin-bottom: 20px;
      font-size: 30px;
    }

    &__title {
      font-size: 20px;
      margin-bottom: 30px;
    }

    &__action {
      margin-top: 40px;
    }

    &--success {
      #{$this}__icon,
      #{$this}__title {
        color: $success;
      }
    }
  }
</style>
