<template>
  <div class="input-search">
    <input
      type="text"
      class="form-control form-control-lg"
      ref="search"
      :placeholder="placeholder"
      v-model="inputValueModel"
      @input="inputValue"
      @focus="inputFocus"
      @blur="inputFocus"
      @keydown.enter="goToSearchResults"
      @keydown.esc="blurInput"
    >
  </div>
</template>

<script>
  export default {
    name: "InputSearch",
    data () {
      return {
        inputValueModel: '',
        inputIsFocused: false
      }
    },
    props: {
      placeholder: {
        type: String,
        required: true
      },
      inputValue: {
        type: Function
      },
      inputFocus: {
        type: Function
      }
    },
    methods: {
      goToSearchResults () {
        this.$emit('inputSubmit', this.inputValueModel)
        if ( this.inputValueModel.length > 2 ) {
          this.$refs.search.blur()
          const searchResultLink = this.localePath('cekarna-search-result');
          this.$router.push({ path: searchResultLink, query: { search: this.inputValueModel } })
        }
      },
      blurInput () {
        this.inputValueModel = ''
        this.$refs.search.blur()
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import "~assets/styles/common/variables";
  $input-icon-color:          $primary !default;
  $input-icon-search:         url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='14' height='15' viewBox='0 0 14 15'><path fill='#{$input-icon-color}' d='M13.8906 13.5742L10.582 10.2656C10.5 10.2109 10.418 10.1562 10.3359 10.1562H9.98047C10.8281 9.17188 11.375 7.85938 11.375 6.4375C11.375 3.32031 8.80469 0.75 5.6875 0.75C2.54297 0.75 0 3.32031 0 6.4375C0 9.58203 2.54297 12.125 5.6875 12.125C7.10938 12.125 8.39453 11.6055 9.40625 10.7578V11.1133C9.40625 11.1953 9.43359 11.2773 9.48828 11.3594L12.7969 14.668C12.9336 14.8047 13.1523 14.8047 13.2617 14.668L13.8906 14.0391C14.0273 13.9297 14.0273 13.7109 13.8906 13.5742ZM5.6875 10.8125C3.25391 10.8125 1.3125 8.87109 1.3125 6.4375C1.3125 4.03125 3.25391 2.0625 5.6875 2.0625C8.09375 2.0625 10.0625 4.03125 10.0625 6.4375C10.0625 8.87109 8.09375 10.8125 5.6875 10.8125Z'/></svg>") !default;
  $input-icon-size:           1.313rem !default;

  .input-search {
    position: relative;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: $input-btn-padding-y-lg/2 + $input-icon-size/2;
      right: $input-btn-padding-x-lg;
      background: escape-svg($input-icon-search) 0 0 no-repeat;
      background-size: $input-icon-size $input-icon-size;
      width: $input-icon-size;
      height: $input-icon-size;
    }

    .form-control {
      padding-right: $input-btn-padding-x-lg + $input-icon-size*2;
      color: $primary;
    }
  }
</style>
