<template>
  <nuxt-link :to="localePath(link)">
    <img src="~/assets/img/logo.svg" :alt="$t('uLekare.title')" class="logo">
  </nuxt-link>
</template>

<script>
  export default {
    name: "Logo",
    props: {
      link: {
        type: String,
        default: 'cekarna'
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import "~assets/styles/common/variables";

  .logo {
    display: block;

    .header & {
      width: 163px;
      height: 31px;
      margin-top: 8px;
    }

    .footer & {
      width: 214px;
      height: 42px;
    }
  }
</style>
