<template>
  <span class="marker-adress">
    <img src="~/assets/img/marker.svg" alt="marker" class="marker-adress__pin">
    {{ address }}
  </span>
</template>

<script>
  export default {
    name: "MarkerAddress",
    props: {
      address: {
        type: String,
        required: true
      },
    },
  }
</script>

<style lang="scss" scoped>
  .marker-adress {
    display: inline-flex;
    align-items: flex-start;

    &__pin {
      width: 16px;
      margin-right: .5rem;
      vertical-align: middle;
    }

    .doctor-vertical-locket & {
      display: inline-block;
    }
  }
</style>
