<template>
  <b-modal id="newsletterModal" ref="newsletter-processing" size="lg" centered scrollable>
    <template v-slot:modal-header>
      <h4 class="mb-0">{{ $t('dataProcessing.iAgree') }} {{ $t('dataProcessing.newsletterProcessing') }}</h4>
    </template>

    <div :inner-html.prop="$t('dataProcessing.newsletterText') | wrapLines"></div>

    <template v-slot:modal-footer>
      <a href="#" class="btn btn-primary px-6" @click.prevent="closeNewsletterModal">{{ $t('close') }}</a>
    </template>
  </b-modal>
</template>

<script>
	export default {
		name: "NewsletterModal",
    created() {
      this.$eventHub.$on('openNewsletterModal', () => {
        this.$refs['newsletter-processing'].show()
      })
    },
    methods: {
      closeNewsletterModal() {
        this.$refs['newsletter-processing'].hide()
      },
    }
	}
</script>

<style scoped>

</style>
