<template>
  <div class="no-result-info">

    <div class="no-result-info__title">
      {{$t('results.resultInfoStart')}} <strong class='text-primary'>{{searchValue}}</strong> {{$t('results.noResultInfoEnd')}}
    </div>

    <div class="no-result-info__perex">
      {{ perex }}
    </div>

    <nuxt-link :to="localePath('cekarna-doctor-is-not-in-list')" class="btn btn-link text-danger">
      {{ $t('results.doctorNotInResults') }}
    </nuxt-link>
  </div>
</template>

<script>
  export default {
    name: "NoResultInfo",
    props: {
      searchValue: {
        type: String,
        required: true
      },
      perex: {
        type: String,
        required: true
      },
    }
  }
</script>

<style lang="scss" scoped>
  @import "~assets/styles/common/variables";

  .no-result-info {
    text-align: center;
    width: 100%;
    max-width: map-get($grid-breakpoints, "xl");
    padding: 50px;

    &__title {
      font-size: 20px;
      margin-bottom: 2rem;
    }

    &__perex {
      border-bottom: solid 1px $border-color;
      margin-bottom: 2rem;
      padding-bottom: 2rem;
    }
  }
</style>
