<template>
  <div class="panel">
    <div class="panel__body">
      <h2 class="panel__title" v-if="title">{{ title }}</h2>
      <slot name="body" />
    </div>
    <div class="panel__footer" v-if="hasFooterSlot">
      <slot name="footer" />
    </div>
  </div>
</template>

<script>
  export default {
    name: "Panel",
    props: {
      title: {
        type: String,
        required: false
      },
    },
    computed: {
      hasFooterSlot () {
        return !!this.$slots['footer']
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import "~assets/styles/common/variables";

  .panel {
    background: $white;
    border-radius: 8px;

    &__title {
      margin-top: 10px;
      font-size: 24px;
      color: $primary;
      margin-bottom: 24px;
    }

    &__body {
      padding: 30px;
    }

    &__footer {
      // none
    }
  }
</style>
