<template>
  <div class="panel-box">
    <slot />
  </div>
</template>

<script>
  export default {
    name: "PanelBox"
  }
</script>

<style lang="scss" scoped>
  @import "~assets/styles/common/variables";

  .panel-box {
    border-top: solid 1px $gray-300;
    padding: 30px;

    &:last-child {
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  }
  @each $color, $value in $theme-colors {
    .panel-box--#{$color} {
      border: solid 1px $value;
    }
  }
</style>
