<template>
  <b-modal id="personalDataProcessing" ref="personal-data-processing-ms-assistant" size="lg" centered scrollable>
    <template v-slot:modal-header>
      <h4 class="mb-0">{{ $t('rsAssistant.personalModal.modalTitle') }}</h4>
    </template>

    <h3 class="text-primary">{{ $t('dataProcessing.personalDataTitle')}}</h3>

    <div>
      <p>Tyto Zásady zpracování osobních údajů pro účely registrace do služby RS Asistent (dále jen „Zásady“) jsou určeny pro:</p>
      <ul>
        <li>osoby registrované do služby RS Asistent</li>
        <li>oznamovatele nežádoucí příhody/případu zvláštního zájmu, kdy se poskytují informace o bezpečnosti pacientů týkající se našich výrobků, a to vrámci výše uvedené služby</li>
        <li>osoby požadující lékařské informace</li>
      </ul>
      <p>Společnost Novartis je zavázána chránit Vaše osobní údaje a transparentně sdělovat, které údaje shromažďuje a jak s nimi nakládá.</p>
      <p>V těchto Zásadách Vám poskytujeme informace, jak Novartis s.r.o., IČ: 645 75 977, se sídlem: Praha 4, Nusle, Na Pankráci 1724/129, PSČ: 140 00 (dále jen: „<strong>Novartis</strong>“ nebo „<strong>my</strong>“) prostřednictvím partnera uLékaře.cz,s.r.o. IČ: 05341051, se sídlem Šafaříkova 201/17, 120 00, Praha 5, zpracovává vaše osobní údaje jako jejich správce.</p>
      <p>Vyzýváme Vás, abyste si tyto Zásady přečetli pečlivě, protože obsahuje důležité informace.</p>
      <h3>K jakým účelům používáme Vaše osobní údaje a na základěčeho jsme k tomu oprávněni?</h3>
      <p>Vaše osobní údaje můžeme zpracovávat k následujícím účelům:</p>
      <ul>
        <li>předání údajů vhodnému zdravotnickému zařízení za účelem dalších konzultací či spolupráce ve věci zdravotního stavu</li>
        <li>sledování bezpečnosti léčivých přípravků a zdravotnických prostředků, což zahrnuje odhalování, vyhodnocování a prevenci nežádoucích příhod a jejich nahlašování regulačním úřadům;</li>
        <li>vyřizování stížností na kvalitu našich produktů, jako jsou případné nedostatky kvality a/nebo účinnosti, stability, spolehlivosti, bezpečnosti, výkonnosti nebo užívání;</li>
        <li>poskytování adekvátních a aktuálních informací o onemocnění, léčivech a našich produktech aslužbách;</li>
        <li>zodpovídání vašich případných dotazů nebo žádostí;</li>
        <li>jiné účely uložené ze zákona nebo příslušnými úřady.</li>
      </ul>
      <p>Vaše osobní údaje nezpracováváme, jestliže nejsme k danému účelu v souladu se zákonem řádně oprávněni. Vaše osobní údaje tedy zpracováváme v případě:</p>
      <ul>
        <li>že ktakovému zpracování máme od Vás souhlas,</li>
        <li>že je to nezbytné k dodržení našich právních povinností týkajících se bezpečnosti léčivých přípravků a zdravotnických prostředků,</li>
        <li>že je to nezbytné z důvodů veřejného zájmu v oblasti veřejného zdraví,</li>
        <li>že je to nezbytné kvůli našim oprávněným zájmům a nemá to negativní vliv na vaše zájmy nebo základní práva a svobody.</li>
      </ul>
      <p>Vezměte prosím na vědomí, že při zpracování vašich osobních údajů v posledním případě se vždy snažíme udržet rovnováhu mezi svými oprávněnými zájmy a vašim soukromím. Příklady takových ‚oprávněných zájmů‘ ke zpracování osobních údajů mohou být odpovědi na vaše dotazy.</p>
      <h3>Jaké informace o Vás máme?</h3>
      <p>Vrámci služby RS Asistent zpracováváme prostřednictvím našeho partnera uLékaře.cz, s.r.o. následující informace:</p>
      <ul>
        <li>Jméno a příjmení registrovaného do služby RS Asistent</li>
        <li>E-mailová adresa</li>
        <li>Telefonní číslo</li>
        <li>Rok narození</li>
        <li>PSČ</li>
        <li>MS centrum pro diagnostiku a léčbu roztroušené sklerózy, ve kterém se aktuálně léčíte</li>
      </ul>
      <p>Jestliže oznámíte nežádoucí příhodu nebo případ zvláštního zájmu (např. vystavení v těhotenství, během kojení, předávkování, nedostatečnou účinnost apod.) týkající se některého z našich výrobků, budete reklamovat kvalitu nebo požádáte o medicínské informace, požádáme Vás o Vaše jméno a kontaktní údaje, abychom Vás byli schopni kontaktovat, pokud budou potřeba další informace a/nebo abychom zodpověděli Váš dotaz.</p>
      <p>V případě nahlášení nežádoucí příhody rovněž Vás požádáme o informaci o Vaší kvalifikaci, abychom stanovili, zda jste zdravotnický pracovník nebo spotřebitel, přičemž zpracováváme následující kategorie osobních údajů:</p>
      <ul>
        <li>Kontaktní údaje oznamovatele;</li>
        <li>Identifikační údaje pacienta, jako jsou: číselný nebo písmenný identifikační kód uvedený v oznamovacím formuláři nežádoucí události, demografické údaje (např. iniciály, věk, rok nebo datum narození, pohlaví, váha, výška);</li>
        <li>Zdravotní údaje: předepsaná léčba, výsledky vyšetření, povaha nežádoucí příhody, osobní nebo rodinná anamnéza, onemocnění nebo související události, rizikové faktory; informace o způsobu užívání předepsaných léků a vedení léčby.</li>
      </ul>
      <p>V případě, že je to nezbytné k vyhodnocení nežádoucí příhody, můžeme rovněž shromažďovat a zpracovávat:</p>
      <ul>
        <li>Informace o předcích a potomcích osoby, zda se jedná o novorozence, informace o těhotenství a/nebo kojení;</li>
        <li>Údaje o zaměstnání: aktuální a minulá zaměstnání (pouze pokud je to odůvodněno vyhodnocováním nežádoucí události);</li>
        <li>Informace týkající se kouření, pití alkoholu, užívaní drog;</li>
        <li>Informace o životním stylu, návycích a chování, jako je například: provádění fyzického cvičení (intenzita, frekvence, doba), strava a stravovací návyky;</li>
        <li>Pohlavní/sexuální život;</li>
        <li>Etnická příslušnost, ovšem pouze v případě, kdy je v souhrnné informaci o přípravku (SPC) uvedena konkrétní informace týkající se etnického původu, a v souladu s kritérii uvedenými v SPC.</li>
      </ul>
      <h3>Kdo má přístup k Vašim osobním údajům a komu jsou předávány?</h3>
      <p>Vaše osobní údaje neprodáváme, nesdílíme ani jiným způsobem nepředáváme třetím stranám s výjimkou těch, které jsou uvedené v těchto Zásadách.</p>
      <p>V průběhu naší činnosti a ke stejným účelům, které jsou uvedeny v těchto Zásadách, má k vašim osobním údajům přístup nebo je obdrží:</p>
      <ul>
        <li>Partner projektu RS Asistent společnost uLékaře.cz, s.r.o.</li>
        <li>Vedoucí oddělení bezpečnosti léčiv / medicínských informací / jištění jakosti a jejich týmy-Generální ředitel / pověřená osoba a jejich zástupce, v mezích jejich pravomoci;</li>
        <li>Pověření členové právního oddělení a oddělení registrace léčiv v závislosti na tom, zda nárok spadá do jejich oblasti odpovědnosti;</li>
        <li>Oddělení auditů za účelem kontroly regulačních nebo interních požadavků;</li>
        <li>Ostatní společnosti skupiny Novartis, zejména Novartis AG;</li>
        <li>Ostatní farmaceutické společnosti, jejichž výrobky mohou být předmětem zájmu;</li>
        <li>Zdravotníci, kterých se hlášení týká, pokud to pacient povolí;</li>
        <li>Poskytovatelé služeb jednající jménem společností skupiny Novartis, jako jsou poskytovatelé hostování IT systémů a další poskytovatelé služeb nebo poskytovatelé služeb souvisejících se zpracováním nežádoucích příhod (zejména call centra).</li>
      </ul>
      <p>Výše uvedené třetí strany jsou smluvně vázány chránit důvěrnost a bezpečnost vašich osobních údajův souladu s příslušnými zákony.</p>
      <p>K vašim osobním údajům může rovněž přistupovat nebo mohou být předávány státním a/nebo mezinárodním regulačním úřadům, donucovacím či veřejným orgánům nebo soudům; těmto orgánům musíme údaje předat v souladu se zákonem nebo předpisem či na jejich žádost. Osobní údaje, které ovás shromažďujeme, mohou být rovněž zpracovávány, uchovávány nebo k nim může být přistupovánov jiné než vaší zemi, která nemusí nabízet stejnou úroveň ochrany osobních údajů.</p>
      <p>V případě, že předáváme vaše osobní údaje externím společnostem v jiných jurisdikcích, ujišťujeme se, že vaše osobní údaje jsou chráněny (i) uplatněním úrovně ochrany vyžadované podle místních zákonů o ochraně soukromí/osobních údajů týkajících se Novartis, (ii) v souladu s našimi zásadami a normami a (iii) v případě společnosti skupiny Novartis nacházející se v Evropském hospodářském prostoru (tedy členské státy EU plus Island, Lichtenštejnsko a Norsko, dále „EHS“), není-li uvedeno jinak, předáváním vašich osobních údajů výhradně na základě standardních smluvních doložek schválených Evropskou komisí. Na základě svých níže uvedených práv můžete požadovat další informace týkající se mezinárodního předávání osobních údajů a obdržet kopii dokladu o zavedených bezpečnostních opatřeních.</p>
      <p>Skupina Novartis zavedla pro vnitroskupinové předání osobních údajů závazná podniková pravidla - systém zásad, pravidel a nástrojů podle evropského práva, jehož cílem je zajistit účinnou úroveň ochrany osobních údajů při předávání osobních údajů mimo EHS a Švýcarsko.</p>
      <h3>Jak dlouho uchováváme Vaše osobní údaje?</h3>
      <p>Výše uvedené osobní údaje budeme uchovávat pouze po tak dlouhou dobu, kterou budeme považovat za přiměřeně nezbytnou k dosažení účelů stanovených v těchto Zásadách a/nebo kterou připouštějí příslušné zákony, popř. do odvolání Vašeho souhlasu.</p>
      <h3>Jaká jsou Vaše práva a jak je můžete uplatnit?</h3>
      <p>Máte právo na:</p>
      <ul>
        <li>přístup ke svým osobním údajům, které zpracováváme, a pokud se domníváte, že některé vaše údaje jsou nesprávné, zastaralé nebo neúplné, požadovat jejich opravu nebo aktualizaci;</li>
        <li>požadovat opravu nebo výmaz svých osobních údajů, které jsou nepřesné nebo zpracovávanék účelům, které nejsou uvedeny výše;</li>
        <li>požadovat omezení zpracování vašich osobních údajů na konkrétní kategorie zpracování;</li>
      </ul>
      <h3>Jak nás kontaktovat</h3>
      <p>Máte-li nějaký dotaz nebo chcete-li uplatnit výše uvedená práva, můžete poslat e-mail na následující kontakty:</p>
      <ol>
        <li>uLékaře.cz, s.r.o: E-mail: <a href="mailto:osobniudaje@ulekare.cz">osobniudaje@ulekare.cz</a></li>
        <li>Novartis s.r.o.: E-mail: <a href="mailto:privacy-1.czech@novartis.com">privacy-1.czech@novartis.com</a> nebo dopis na adresu Novartis s.r.o., Na Pankráci 129, Praha 4 – <strong>Data Protection kancelář</strong>.</li>
      </ol>
      <p>Nejste-li spokojeni s tím, jak zpracováváme vaše osobní údaje, obraťte se na našeho zmocněnce pro ochranu údajů <a href="mailto:global.privacy_office@novartis.com">global.privacy_office@novartis.com</a>, který vaši záležitost přešetří.</p>
      <p>V každém případě máte kromě výše uvedených práv také právo podat stížnost příslušným orgánům pro ochranu údajů.</p>
      <h3>Jak budete informováni o změnách našich Zásad?</h3>
      <p>Veškeré budoucí změny nebo dodatky ke zpracování vašich osobních údajů, jak jsou popsány v těchto Zásadách, budou předem jednotlivě oznámeny prostřednictvím našich obvyklých komunikačních kanálů (například prostřednictvím e-mailu nebo našeho internetu na <a href="https://www.novartis.cz" target="_blank">www.novartis.cz</a>).</p>
    </div>

    <template v-slot:modal-footer>
      <a href="#" class="btn btn-primary px-6" @click.prevent="closeDataProcessingModal">{{ $t('close') }}</a>
    </template>
  </b-modal>
</template>

<script>
  export default {
    name: "PersonalMSAssistantModal",
    created() {
      this.$eventHub.$on('openPersonalMSAssistantModal', () => {
        this.$refs['personal-data-processing-ms-assistant'].show()
      })
    },
    methods: {
      closeDataProcessingModal() {
        this.$refs['personal-data-processing-ms-assistant'].hide()
      }
    }
  }
</script>

<style scoped>

</style>
