<template>
  <b-modal id="personalDataProcessing" ref="personal-data-processing" size="lg" centered scrollable>
    <template v-slot:modal-header>
      <h4 class="mb-0">{{ $t('dataProcessing.iAgree') }} {{ $t('dataProcessing.personalDataProcessing') }}</h4>
    </template>

    <h3 class="text-primary">{{ $t('dataProcessing.personalDataTitle')}}</h3>

    <div>
      <p>Souhlasím, aby společnost uLékaře.cz, s.r.o., se sídlem Šafaříkova 201/17, 120 00 Praha 5, IČO 05341051 (dále jen „Společnost“), zpracovávala mé osobní údaje pro účely mé registrace do služby Virtuální čekárna (<a href="https://www.ulekare.cz/cekarna" target="_blank">www.ulekare.cz/cekarna</a>), která slouží k online propojení mne jako pacienta a zdravotnického zařízení (lékaře nebo jiného odborného pracovníka ve zdravotnictví). Společnost se při zpracování osobních údajů ve službě Virtuální čekárna řídí nařízením č. 2016/679 Evropského parlamentu a Rady EU o ochraně fyzických osob v souvislosti se zpracováním osobních údajů a o volném pohybu těchto údajů. Souhlas se zpracováním dávám maximálně na období 5 let od mé poslední aktivity nebo do odvolání tohoto mého souhlasu.</p>
      <p>Současně výslovně souhlasím, aby Společnost zpracovávala mé osobní údaje včetně zvláštní kategorie osobních údajů o mém zdravotním stavu, a to za účelem:</p>
      <ul>
        <li>vypracování odpovědi lékaře či jiného odborníka ve zdravotnictví a/nebo</li>
        <li>předání vhodnému zdravotnickému zařízením za účelem dalších konzultací či spolupráce ve věci mého zdravotnického stavu a/nebo</li>
        <li>předání mému ošetřujícímu lékaři za účelem dalších konzultací či spolupráce ve věci mého zdravotního stavu.</li>
      </ul>
      <p>Dále souhlasím, že v případě, budu-li ze strany Společnosti kontaktován ve věci užití služeb Společnosti telefonicky, budou takovéto telefonáty nahrávány za účelem zajištění informací o uzavírání smlouvy či kvality poskytovaných služeb.</p>
      <p>Potvrzuji, že jsem obeznámen se svými právy související se zpracováním dle výše zmíněných právních předpisů, a to jak ve vztahu k osobním údajům, tak i ke zvláštní kategorii osobních údajů, zejména pak:</p>
      <ul>
        <li>s právem na přístup ke svým osobním údajům, jejich opravu nebo jejich výmaz, popřípadě s omezením zpracování;</li>
        <li>s právem vznést námitku proti zpracování;</li>
        <li>s právem na přenositelnost údajů ve strukturovaném, běžně používaném a strojově čitelném formátu;</li>
        <li>s právem kdykoliv souhlas se zpracováním odvolat;</li>
        <li>a s právem podat stížnost u dozorového úřadu, kterým je Úřad pro ochranu osobních údajů.</li>
      </ul>
      <p>Současně potvrzuji, že jsem obeznámen se způsobem nakládání s mými osobními údaji a jejich zpracováním vč. zvláštní kategorie osobních údajů, zejména že:</p>
      <ul>
        <li>mé osobní údaje jsou zpracovány pouze v rozsahu, ve kterém byly mnou poskytnuty a pouze pro shora uvedené účely;</li>
        <li>Společnost provádí s mými údaji následující úkony: ukládá je do databáze uživatelů, upravuje je v případě, že je doplním nebo se dožádám úpravy, vyhledává je v rámci své databáze, třídí je dle jednotlivých kritérií pro dotazy poradny a likviduje je po uplynutí shora uvedené lhůty pro zpracování nebo po odvolání mého souhlasu.</li>
        <li>mé údaje Společnost předává v souladu s mým souhlasem, jak je uvedeno shora, mému ošetřujícímu lékaři, případně dalším lékařům či odborným pracovníkům ve zdravotnictví a zdravotnickým zařízením, kteří se budou mým dotazem o mých zdravotních problémem zabývat a s nimiž Společnost uzavřela dohodu o zárukách při zpracování osobních údajů.</li>
        <li>Mému ošetřujícímu lékaři dle podmínek služby Virtuální čekárna poskytuje Společnost tyto údaje: registrační údaje v plném rozsahu, jak jsem je uvedl v registraci vč. položeného dotazu, který je zvláštní kategorií údajů o zdravotním stavu;</li>
        <li>Lékařům či odborným pracovníkům ve zdravotnictví dle podmínek služby Virtuální čekárna poskytuje Společnost tyto údaje: křestní jméno, rok narození a položený dotaz, který může být zvláštní kategorií údajů o zdravotním stavu;</li>
        <li>Zdravotnickému zařízení dle podmínek služby Virtuální čekárna poskytuje Společnosti při mém výslovném souhlasu pro předání mých údajů za účelem návštěvy tohoto zařízení registrační údaje v plném rozsahu, jak jsem je uvedl v registraci vč. položeného dotazu, který je zvláštní kategorií údajů o zdravotním stavu. Seznam spolupracujících zdravotnických zařízení naleznete <a href="https://www.ulekare.cz/nasi-lekari" target="_blank">zde</a>.</li>
      </ul>
      <p>Současně beru na vědomí, že se v případě jakýchkoliv dotazů ohledně zpracování mých osobních údajů nebo v případě uplatnění výše uvedených práv mohu obrátit na pověřence pro ochranu osobních údajů Společnosti, kontakt <a href="http://www.stankovapartneri.cz/" target="_blank">www.stankovapartneri.cz</a>, nebo po další komunikaci ohledně mých osobních údajů, příp. odvolání souhlasu s jejich zpracováním mohu také využít adresu <a href="mailto:osobniudaje@ulekare.cz">osobniudaje@ulekare.cz</a>.</p>
      <p>Potvrzuji, že tímto dávám Společnosti výslovný souhlas a zákonný důvod pro zpracování mých osobních údajů vč. zvláštní kategorie údajů o mém zdravotním stavu v souladu s obecným nařízením o ochraně osobních údajů.</p>

    </div>

    <template v-slot:modal-footer>
      <a href="#" class="btn btn-primary px-6" @click.prevent="closeDataProcessingModal">{{ $t('close') }}</a>
    </template>
  </b-modal>
</template>

<script>
  export default {
    name: "PersonalModal",
    created() {
      this.$eventHub.$on('openPersonalModal', () => {
        this.$refs['personal-data-processing'].show()
      })
    },
    methods: {
      closeDataProcessingModal() {
        this.$refs['personal-data-processing'].hide()
      }
    }
  }
</script>

<style scoped>

</style>
