<template>
  <div class="scroll-to-registration">
    <font-awesome-icon icon="chevron-circle-down" class="scroll-to-registration__icon" />
    <button class="scroll-to-registration__btn" role="button" v-scroll-to="{el: '#register-form'}">
      {{ $t('rsAssistant.scrollToRegistration') }}
    </button>
  </div>
</template>

<script>
  export default {
    name: "ScrollToRegistration"
  }
</script>

<style lang="scss" scoped>
  @import "~assets/styles/common/variables";

  .scroll-to-registration {

    &__icon {
      color: $link-color;
    }

    &__btn {
      color: $link-color;
      background: transparent;
      border: 0 none;
      text-decoration: underline;

      &:hover {
        color: $link-hover-color;
      }

      &:active {
        color: darken($link-hover-color, 10%);
      }
    }
  }
</style>
