<template>
  <select class="custom-select" @change="selected">
    <slot />
  </select>
</template>

<script>
  export default {
    name: "SelectBox",
    props: {
      selected: {
        type: Function
      }
    }
  }
</script>

<style lang="scss">
  @import "~assets/styles/common/variables";

  .custom-select {

    .doctor-info-box & {
      color: $primary;
    }
  }
</style>
