<template>
  <div>
    <Header />
    <nuxt />
    <Footer />
    <CookiePolicy />
  </div>
</template>

<script>
  import Header from '~/components/Organisms/Header.vue'
  import Footer from '~/components/Organisms/Footer.vue'
  import CookiePolicy from '~/components/Molecules/CookiePolicy.vue'

  export default {
    mame: 'DefaultLayout',
    components: {
      Header,
      Footer,
      CookiePolicy
    }
  }
</script>

<style lang="scss">
  @import '~assets/styles/main';
</style>
