<template>
  <div class="error-box">
    <div class="container row d-flex align-items-center">
      <div class="col-md-6 mb-5">
        <h1 v-if="error.statusCode === 404" class="error-box__title">{{ $t('error.404') }}</h1>
        <h1 v-else-if="error.statusCode === 400" class="error-box__title">{{ error.message || $t('error.400') }}</h1>
        <h1 v-else-if="error.statusCode === 500" class="error-box__title">{{ error.message || $t('error.500')  }}</h1>
        <h1 v-else>{{ $t('error.universal') }}</h1>
        <nuxt-link :to="localePath('index')" class="btn btn-primary">{{ $t('goToHome') }}</nuxt-link>
      </div>
      <div class="col-md-6">
        <img src="~/assets/img/404.svg" alt="Error">
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    head: {
      htmlAttrs: {
        class: 'error-page',
      },
    },
    props: ['error'],
  }
</script>

<style lang="scss" scoped>
  @import "~assets/styles/common/variables";

  .error-box {
    margin: 4rem 2rem;
    height: calc(100vh - 100px);
    display: flex;
    align-items: center;
    justify-content: center;

    &__title {
      font-size: 36px;
      @include media-breakpoint-up(md) {
        font-size: 56px;
      }
      line-height: 115%;
      color: $cyan;
      margin-bottom: $spacer*2;
    }
  }
</style>
