<template>
  <section class="cookies">
    <Container class="container--md">
      <h1 class="cookies__title">{{ $t('cookiePolicy.infoTitle') }}</h1>
      <div class="cookies__body" :inner-html.prop="$t('cookiePolicy.infoText') | wrapLines"></div>
    </Container>
  </section>
</template>

<script>
  import Container from '~/components/Atoms/Container.vue'

  export default {
    name: "Cookies",
    nuxtI18n: {
      paths: {
        cs: '/cookies',
      }
    },
    components: {
      Container
    },
    head () {
      return {
        title: this.$t('meta.cookies.title'),
        meta: [
          { hid: 'description', name: 'description', content: this.$t('meta.cookies.description') },
          { hid: 'og:title', name: 'og:title', content: this.$t('meta.cookies.ogTitle') }
        ]
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import "~assets/styles/common/variables";

  .cookies {
    padding-top: 2rem;
    padding-bottom: 2rem;

    @include media-breakpoint-up(md) {
      padding-top: 96px;
      padding-bottom: 96px;
    }

    &__title {
      font-size: 24px;
      line-height: 33px;
      color: $primary;
      margin-bottom: 2rem;
      @include media-breakpoint-up(md) {
        margin-bottom: 3rem;
      }
    }

    &__body {
      line-height: 22px;
    }
  }
</style>
